/*______________________________________________________________________________
 * SYSADMAPP.css
 *
 * Styling specific to the System Administrator Application View.
 */

.SYSADMAPP.soria.high-contrast .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/highcontrast/GREY/pod_title_cc.png");
}

.SYSADMAPP.soria.high-contrast div.roundy-pod-top .title-left {
  background-image: url("../../Images/pods/colors/highcontrast/GREY/pod_title_tl.png");
}

.SYSADMAPP.soria.high-contrast div.roundy-pod-top .title-center {
  background-image: url("../../Images/pods/colors/highcontrast/GREY/pod_title_tc.png");
}

.SYSADMAPP.soria.high-contrast div.roundy-pod-top .title-right {
  background-image: url("../../Images/pods/colors/highcontrast/GREY/pod_title_tr.png");
}
/*------------------------------------*/