/*______________________________________________________________________________
 * core evidenceDashboard
 *
 * styles for the evidence dashboard page.
 */
.evidenceDashboard {
    margin-left: 4px;
    margin-right: 4px;
}

.evidenceDashboard table td a {
  color: #376F8F;
  text-decoration: none;
  vertical-align: middle;
}

.evidenceFolderOpened {
  background: center  url(../../Images/tree_minus.png);
}

.evidenceFolderClosed {
  background: center  url(../../Images/tree_plus.png);
}

.evidenceTitlePane {
    background: url("../../Images/category_bar_selected.png") repeat-x scroll 0 0 transparent;
    border-left: 1px solid #DDE0E9;
    border-right: 1px solid #DDE0E9;
    height: 20px;
    padding-top: 1px;
}

.arrowImageSpanClass {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 4px;
  *margin-top: -10px;
}


.evidenceLeaf {
  background: no-repeat center  url(../../Images/tree_minus.png);
}


.tdStyle {
  vertical-align: middle;
  height:25px;
  
}

.dashboardLegend {
  vertical-align: top;
  height:25px;
  text-align: right;
  padding-top: 2px;
  padding-bottom: 10px;
}


.tdArrowStyle {
  padding-right: 10px;
  padding-left: 10px;
} 

/*
 * Styles for the evidence labels - Recorded, not recored and All. 
 */
.contentPanelLabelsStyle {
  *margin: -14px 0px 0px 0px; /*fix for IE7 Float bug*/
  position: relative;
  float: right;
  cursor: pointer;
  color: #376F8F;
  border-right: 1px solid #A9BBCE;
  }

.filterLabelText {
    position: relative;
    top: 1px;
}

.backgroundHighlight {
    background: url("../../Images/selected_middle.png") repeat scroll center bottom transparent;
    border-left: 1px solid #A9BBCE;
    float: right;
    height: 18px;
    padding: 0 30px;
    text-align: center;
}

.backgroundHighlightRollover {
  background: url("../../Images/rollover_middle.png") repeat scroll center bottom transparent;
  border-left: 1px solid #A9BBCE;
  float: right;
  height: 18px;
  padding: 0 30px;
  text-align: center;
}

.backgroundNormal {
    border-left: 1px solid #A9BBCE;
    float: right;
    height: 18px;
    padding: 0 30px;
    text-align: center;
}

.noBorderTitlePaneContentOuter {
  border: none;
}

.treeHolderStyle {
  position:relative;
  margin-left: 2px;
  top: 10px;
}

#dashboardView .treeHolderStyle
{
  position:static;
  margin-left: 2px;
  top: 10px;  
}

.evidence-dashboard-cluster {
  display: none;
  margin-top: -3px;
}

.EvidenceDashboardOpen {
  background: repeat-x url(../../Images/category_bar_selected.png);
}

.EvidenceDashboardClosed {
  background: repeat-x url(../../Images/category_bar_deselected.png);
}

.evidence-dashboard-header-wrapper {
  background: repeat-x url(../../Images/ecategory_bar_selected.png);
}

/*
 * Style for the title pane title.
 */
 h2.evidenceTitlePaneHeader {
  display: inline;
}

.evidenceTitlePaneTextNode {
  top: 1px;
  position:relative;
  margin-left: 9px;
}

.dijitTreeContainer {
    vertical-align: top;
}

.opened {
    background-image: url(../../Images/arrow_open_16x16.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.closed {
    background-image: url(../../Images/arrow_closed_16x16.png);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
