/*______________________________________________________________________________
 * core orgsummarypod_rtl
 *
 * styles for the organisation summary pod.
 */

.rtl table.summary-title th {
  padding-left: 0px;
  padding-right: 8px;
}

.rtl table.summary-content tr td:first-child,
.rtl table.summary-content-loc tr td:first-child {
  padding-left: 0px;
  padding-right: 8px;
}
