/*______________________________________________________________________________
 * TaskContextPanel.css
 *
 * Create styles that are applied to the HTML for task context details.
 */

.task-container-panel {
    position: relative;
    top: 5px;
}

.task-content-panel {
    left: 5px;
    position: absolute;
    width: 99%;
}

div.task-content-panel div.wrapper div.wrapper-bottom div.center {
  background-color: #E6EBF1;
}

div.task-content-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.task-content-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

.task-context-panel-details {
  float: left;
  height: 115px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  width: 100%;
}

.task-context-table {
  background-color: white;
  padding-left: 15px;
  padding-bottom: 23px;
}

.task-context-table-cell-label {
  color: #696969;
}

.task-context-table-cell-value {
  color: black;
}

.task-context-table-link a {
    color: #005291;
    text-decoration: none;
}

.task-context-table-link a:hover {
    text-decoration: underline;
}

.task-context-table table td {
    height: 18px;
    white-space: nowrap;
    width: 90px;
    word-wrap: normal;
}

.task-context-table table .task-context-table-link {
    width: 150px;
}

.task-context-table table th {
    height: 18px;
    white-space: nowrap;
    width: 70px;
    word-wrap: normal;
}

.task-context-header {
    background-color: white;
    color: #FB7803;
    font-family: tahoma;
    font-size: 140%;
    font-weight: normal;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-top: 10px;
}

div.task-context-subject-details img {
  padding-left: 11px;
  padding-right: 10px;
  padding-top: 4px;
  float: left;
}

.task-context-subject-details {
  font-weight: normal;
}

.task-context-subject-label {
    color: black;
    padding-top: 6px;
}