.cbb {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #BDCDE3;
    font-family: arial;
    font-size: 10pt;
}
.collapse {
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: #BDCDE3;
    background-color: #E4EBF4;
    font-weight: bold;
    padding: 2px 10px 3px 5px;
}
.collapseImg {
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: #BDCDE3;
    background-color: #E4EBF4;
    font-weight: bold;
    padding: 2px 10px 3px 5px;
    text-align: right;
}
.label {
    border-style: solid;
    border-color: #BDCDE3;
    border-width: 1px 0 0 0;
    background-color: #EAF5FC;
    text-align: right;
    font-weight: bold;
    padding: 2px 5px 3px 5px;
}
.value {
    border-style: solid;
    border-color: #BDCDE3;
    border-width: 1px 0 0 1px;
    padding: 2px 5px 3px 5px;
}
.singleValue {
    border-style: solid;
    border-color: #BDCDE3;
    border-width: 1px 0 0 0;
    padding: 2px 5px 3px 5px;
}
.last .value {
    border-width: 0;
}
.list, .indexList {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #BDCDE3;
    font-family: arial;
    font-size: 10pt;
}
.narrowList {
    width: 10%;
    border-style: solid;
    border-width: 1px;
    border-color: #BDCDE3;
    font-family: arial;
    font-size: 10pt;
}

.heading, .indexHeading {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #BDCDE3;
    background-color: #E4EBF4;
    font-weight: bold;
    padding: 2px 10px 3px 5px;
}
.headingLast, .indexHeadingLast {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #BDCDE3;
    background-color: #E4EBF4;
    font-weight: bold;
    padding: 2px 10px 3px 5px;
}

.listValueOdd, .indexListValueOdd {
    background-color: white;
    padding: 2px 5px 3px 5px;
}

.listValueEven, .indexListValueEven {
    background-color: #EAF5FC;
    padding: 2px 5px 3px 5px;
}

.listExtValueOdd {
    background-color: #ffdddd;
    padding: 2px 5px 3px 5px;
}

.listExtValueEven {
    background-color: #ffcccc;
    padding: 2px 5px 3px 5px;
}

.indexData {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #BDCDE3;
}

.indexDataLast {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #BDCDE3;
}
.data {
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #BDCDE3;
}

.dataLast {
    border-style: solid;
    border-width: 1px 0 0 0;
    border-color: #BDCDE3;
}
.ctLocaleTable, .ctLocaleBody, .ctLocaleRow, .ctLocaleData {
    font-family: arial;
    font-size: 10pt;
    padding: 0px 0px 0px 0px;
}

a.btn{
  position: relative;
  top: 2px;
  margin:1px; padding:1px;
  font-family: arial;
  font-size: 10pt;  
  font-weight: bold;
  width: 70px;
}

.flt{ 
  margin:0; width:100%;
}

.flt_s{
  margin:0; width:100%;
}
