body.soria div.SEARCHCRITERIAPANEL{
    margin-top: 0px;
    margin-left:0px;
    background-color: #F1F5Fd;
}

body.soria div.SEARCHCRITERIAPANEL1 {
    background-color: #F1F5Fd;
    padding-left: 50%;
    position: fixed;
    top: 25px;
    height: 30px;
    z-index:99999;
    width: 50% !important;

}

.soria div.SEARCHCRITERIAPANEL1 table td {
    background-color: transparent;
}

.soria div.SEARCHCRITERIAPANEL2,
.soria .SEARCHCRITERIAPANEL2 table.input-cluster,
.soria .SEARCHCRITERIAPANEL2 table.input-cluster td {
    background-color: transparent;
}

body#Curam_HCRIntakeErrors div#content{
    margin-top:10px;
}

.soria .SEARCHCRITERIAPANEL1 div.action-set span.filler{
    background-color:#d3d3d3;
    padding-left: 1px;
    margin-left:3%;
}

/*.soria .SEARCHCRITERIAPANEL1 table div.action-set a.ac span.left-corner, .soria .SEARCHCRITERIAPANEL1 table div.action-set a.ac span.right-corner, .soria .SEARCHCRITERIAPANEL1 table div.action-set a.ac span.middle{
    display:none !important;
}*/

.soria .SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.time{
    display:none;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster th.label{
    color:#000000;
}

.soria .WORKFLOWCLUSTER tr.even-last-row {
    font-weight:bold;
}

.soria .DPCLUSTER tr.even-last-row{
    font-weight:bold;
}

.soria .WORKFLOWCLUSTER tr.odd-last-row{
    font-weight:bold;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster table.date-time td.input-date{
    width:60px;
}

.soria .SEARCHCRITERIAPANEL2 table.input-cluster th#N20031-1-2 span.label{
    margin-left: 15px;
}

.soria .DPCLUSTER tr.odd-last-row{
    font-weight:bold;
}

body.soria div.page-description{
    display:none;
}

body.soria div.mandatory-icon-help{
    display:none;
}

body.soria div.description-title .mand-help .no-desc-text{
    display:none; 
}

.soria div.DPDESCRIPTION table th {
    display:none;
}

.soria div.DPDESCRIPTION table td {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    left: 0px;
    margin: 0px;
}

.soria div.WORKFLOWDESCRIPTION table th {
    display:none;
}

.soria div.WORKFLOWDESCRIPTION table td {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    position: relative;
    left: 0px;
    margin: 0px;
}

.soria div.WORKFLOWCHART table th{
    display:none;
}

.soria div.WORKFLOWCHART table td{
    display: inline-block;
    height: 350px;
    overflow: hidden;
    width: 200%;
    position: relative;
    left: -15px;
    margin: 0px;
}

.soria div.DEFERREDPROCESSCHART table th{
    display:none;
}

.soria div.DEFERREDPROCESSCHART table td {
    display: inline-block;
    height: 350px;
    overflow: hidden;
    white-space: nowrap;
    width: 200%;
    position: relative;
    left: -15px;
    margin: 0px;
}

/* .soria div.DEFERREDPROCESSCHART{
    width: 90% !important;
} */

/* .soria div.WORKFLOWDESCRIPTION table td.field iframe{
    width: 50px;
} */

/* .soria div.WORKFLOWDESCRIPTION table td iframe{
    width: 50px !important;
} */

/* .soria div.WORKFLOWCHART table td.field iframe {
    display:none;
} */

/* html body.BirtViewer_Body table#layout tbody tr td#documentView table tbody tr td div#Document.birtviewer_document_fragment div div.style_0 table tbody tr td div img */
