div.cluster-cpr-no-border { 
 margin-bottom:0px;
 border: 0px !important;
 border-bottom-style: none; 
 margin-left:0px !important;
 border-left-width: 0px !important;
 border-left-style: none;
 margin-right:0px;
 border-right-width: 0px;
 border-right-style: none;
 margin-top:0px;
 border-top-width: 0px !important;
 border-top-style: none;
 width:100% !important;
} 

div.cluster-cpr-no-internal-padding td.top{
 padding-left: 0px !important;
 padding-right: 0px !important;
 border-bottom: 0px;
 padding-bottom:0px;
 padding-top:0px;
}

div.cluster-cpr-field-bold { 
 font-weight: bold;
} 

div.list-cpr-margin-top-bottom {
 margin-bottom: 4px;
 margin-top: 4px;
 margin-left:0px !important;
 margin-right: 0px !important;
}

div.cluster-cpr-grey-background td.top{
 background-color: #EBEDF2;
}