/*______________________________________________________________________________
 * core evidenceDashboard_rtl
 *
 * styles for the evidence dashboard page.
 */
.rtl .arrowImageSpanClass {
  float: left;
}

.rtl .dashboardLegend {
  text-align: left;
}

/*
 * Styles for the evidence labels - Recorded, not recored and All. 
 */
.rtl .contentPanelLabelsStyle {
  float: left;
  border-right: none;
  border-left: 1px solid #A9BBCE;
  }

.rtl .backgroundHighlight {
    border-left: none;
    border-right: 1px solid #A9BBCE;
    float: left;
}

.rtl .backgroundHighlightRollover {
  border-left: none;
  border-right: 1px solid #A9BBCE;
  float: left;
}

.rtl .backgroundNormal {
    border-left: none;
    border-right: 1px solid #A9BBCE;
    float: left;
}

.rtl .treeHolderStyle {
  margin-left: 0px;
  margin-right: 2px;
}

.rtl #dashboardView .treeHolderStyle
{
  margin-left: 0px;
  margin-right: 2px;
}

/*
 * Style for the title pane title.
 */
.rtl .evidenceTitlePaneTextNode {
  margin-right: 0px;
  margin-left: 9px;
}
