/*______________________________________________________________________________
 * core orgsummarypod
 *
 * styles for the organisation summary pod.
 */

.org-summ-background {
  background-color: #ffffff;
}

table.summary-title, table.summary-content, table.summary-content-loc  {
  width: 100%;
}

table.summary-title th {
  padding-bottom: 3px;
  padding-left: 8px;
  padding-top: 5px;
}

table.summary-content tr:first-child td,
table.summary-content-loc tr:first-child td {
  padding-top: 6px;
}

table.summary-content tr td:first-child,
table.summary-content-loc tr td:first-child {
  padding-left: 8px;
}

.line-sep {
  border-bottom: 1px solid #dddddd;
  margin-left: 8px;
  margin-right: 8px;
}

table.summary-content tr td a,
table.summary-content-loc tr td a {
  color: #376F8F;
  text-decoration: none;
}

table.summary-content tr td a:hover,
table.summary-content-loc tr td a:hover {
  color: #376F8F;
  text-decoration: underline;
}

table.summary-content-loc td {
  padding-bottom: 10px;
}