/*______________________________________________________________________________
 * searchcontextpanels_rtl.css
 *
 * Style appiled to context panels used with search expanded list
 *
 */

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel,
body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  right: auto;
  left: 10px;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel,
body#Curam_DefaultIC_tabDetailsPreview.list-inline-page.rtl div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  right: auto;
  left: 10px;
}

/*______________________________________________________________________________
 * end searchcontextpanels_rtl.css
 */