/*______________________________________________________________________________
 * searchcontextpanels.css
 *
 * Style appiled to context panels used with search expanded list
 *
 */

 /* Person Preview Page */
  body#Curam_Person_homeTabDetailsPreview.list-inline-page { overflow-y: visible }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .top .left { background:none }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent; }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .top .right { background:none; }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .top { height: 1px; }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .bottom .left { background:none }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent; }

  body#Curam_Person_homeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_Person_homeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }

 body#Curam_Person_homeTabDetailsPreview.list-inline-page div#tab-title {
   display: none;
 }

 body#Curam_Person_homeTabDetailsPreview.list-inline-page div#content {
   border-left: 0px;
   border-right: 0px;
   overflow: auto;
   position: relative;
   top: 0px;
   background: transparent;
 }

 body#Curam_Person_homeTabDetailsPreview.list-inline-page div#content div.person-container-panel {
   min-width: 850px;
   top: 0px;
}

 /* Prospect Person Preview Page */
 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page div#tab-title {
   display: none;
 }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page div#content {
   border-left: 0px;
   border-right: 0px;
   overflow: auto;
   position: relative;
   top: 0px;
   background: transparent;
 }

 body#Curam_ProspectPerson_homeTabDetailsPreview.list-inline-page div#content div.person-container-panel {
   min-width: 850px;
   top: 0px;
}

/* Employer */
  body#Curam_Employer_homeDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Employer_homeDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Employer_homeDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_Employer_homeDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_Employer_homeDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_Employer_homeDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_Employer_homeDetailsPreview.list-inline-page div#content div.employer-container-panel {
  min-width: 905px;
  top: 0px;
}

body#Curam_Employer_homeDetailsPreview.list-inline-page div#content div.employer-container-panel div.employer-details-panel .content-address {
  max-width: 60%;
}


/* Prospect Employer */
  body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#content div.employer-container-panel {
  min-width: 905px;
  top: 0px;
}

body#Curam_ProspectEmployer_homeTabDetailsPreview.list-inline-page div#content div.employer-container-panel div.employer-details-panel .content-address {
  max-width: 60%;
}

/* Product Delivery */
 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }


body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_ProductDelivery_tabDetailsPreview.list-inline-page div#content div.pd-container-panel {
  min-width: 850px;
  top: 0px;
}

/* Integrated Case */
 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.container-panel-ic {
  min-width: 900px;
  height: 155px;
  top: 0px;
}

body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.container-panel-ic div.ic-links-panel,
body#Curam_IntegratedCase_tabDetailsPreview.list-inline-page div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  top: 10px;
  position: absolute;
  top: 0px;
  width: 240px;
  right: 10px;
}

/* Payment Correction */
 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page div#content div.underpay-container-panel,
body#Curam_PaymentCorrection_tabDetailsPreview.list-inline-page div#content div.overpay-container-panel {
  min-width: 850px;
  top: 0px;
}

/* Underpayment */
 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_ICBenefitUnderPayment_tabDetailsPreview.list-inline-page div#content div.underpay-container-panel {
  min-width: 850px;
  top: 0px;
}

/* Overpayment */
 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_BenefitSampleOverpayment_tabDetailsPreview.list-inline-page div#content div.overpay-container-panel {
  min-width: 850px;
  top: 0px;
}

/* Investigation */
 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_Investigation_homeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_Investigation_homeTabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_Investigation_homeTabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_Investigation_homeTabDetailsPreview.list-inline-page div#content div.investigation-container-panel {
  min-width: 850px;
  top: 0px;
}


/* Incident */
 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page { overflow-y: visible }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .top .left { background:none }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .top .right { background:none; }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .top { height: 1px; }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .bottom .left { background:none }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page .bottom{ height: 1px; }

body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: visible;
  position: relative;
  top: 0px;
  background: transparent;
}

body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page div#content div.incident-container-panel {
  min-width: 900px;
  top: 0px;
}

body#Curam_Incident_viewIncidentTabDetailPreview.list-inline-page div#content div.incident-container-panel .wrapper {
  width: 100%;
}
/* Default ProductDelivery */
 body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page > .top,
 body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page > .bottom {
  display: none;
}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 15px;
  background: transparent;
}

body#Curam_DefaultICProduct_tabDetailsPreview.list-inline-page div#content div.pd-container-panel {
  min-width: 850px;
  top: 0px;
}

/* Default Integrated Case */
 body#Curam_DefaultIC_tabDetailsPreview.list-inline-page > .top,
 body#Curam_DefaultIC_tabDetailsPreview.list-inline-page > .bottom {
  display: none;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#tab-title {
  display: none;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  position: relative;
  top: 15px;
  background: transparent;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content div.container-panel-ic {
  min-width: 900px;
  height: 155px;
  top: 0px;
}

body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content div.container-panel-ic div.ic-links-panel,
body#Curam_DefaultIC_tabDetailsPreview.list-inline-page div#content div.container-panel-ic div.ic-links-panel-one-casemem {
  position: absolute;
  top: 0px;
  width: 240px;
  right: 10px;
}



/*______________________________________________________________________________
 * end searchcontextpanels.css
 */