/*______________________________________________________________________________
 * TaskContextPanel_rtl.css
 *
 * Create styles that are applied to the HTML for task context details.
 */

.rtl .task-content-panel {
    left: auto;
    right: 5px;
}

.rtl .task-context-panel-details {
  float: right;
}

.rtl .task-context-table {
  padding-left: 0px;
  padding-right: 15px;
}

.rtl .task-context-header {
    padding-left: 0px;
    padding-right: 15px;
}

.rtl div.task-context-subject-details img {
  padding-left: 10px;
  padding-right: 11px;
  float: right;
}
