.th-col-One {
   height: 20px;
   width: 15px;
   background-image:url("../../Images/header_orange_corner_left.png");
   background-repeat: no-repeat;
   border-left:medium none;
}

.th-col-Two {
   background: no-repeat top left #fbcb5d;
   border-top:medium none;
}

.th-two-height {
  background: no-repeat top left #fbcb5d;
  height: 20px;
}

.th-col-three {
  background-image:url("../../Images/header_orange_corner_right.png");
  background-repeat: no-repeat;
  border-right:medium none;
  height: 20px;
  width: 15px;
}

.th-two-font {
  font-family:tahoma;
  font-size:100%;
}

.th-col-Two-img {
  display: block;
  background:#fbcb5d no-repeat top left;
  color:#000000;
  overflow:hidden;
  white-space:nowrap;
  width:90%;
  word-wrap:normal;   
}

.two-col-tr-one { 
  height: 20px;
  padding-top:4px;
  padding-bottom:4px;
}

.toggle-image-ci {
  background-image:url("../../Images/arrow_orange_expand.png");
  cursor:pointer;
  display:inline;
  float:right;
  height:7px;
  margin-right:5px;
  margin-top:-10px;
  width:9px;
}

.toggle-image-contract-ci {
background-image:url("../../Images/arrow_orange_contract.png");
cursor:pointer;
display:inline;
float:right;
height:9px;
margin-right:5px;
margin-top:-11px;
width:9px;
}

.th-col-Three {
   height: 20px;
   width: 15px;
   background:#fbcb5d no-repeat top left;
   border-left:medium none;
   border-right: 1px solid #B6B6B6;
}

.tr-two-td-two {
padding-top:0px;
padding-bottom:0px;
}

#toggleTODOTable td {
  padding-top:0px;
padding-bottom:0px;
}



.first-td-for-first-tr {
   background-color: #d9e4f6;
}

.second-td-for-first-tr {
background-color: #d9e4f6;
}

.third-td-for-first-tr {
   background-color: #d9e4f6;
}

.first-td-for-second-tr-class {
   height: 12px;
   width: 15px;
   
}


.second-td-for-second-tr-class {
height: 12px;
   
}

.third-td-for-second-tr-class {
   height: 12px;
   width: 15px;
   
}

.first-td-for-fourth-tr-class {
   height: 20px;
   width: 15px;
   
}

.third-td-for-fourth-tr-class {
   height: 20px;
   width: 15px;
   
}


.inner-table-td-for-space-class {
    width: 10px;

}

th.th-col-Two span.header-wrapper h2 {
  font-weight: bold;
}
