/*______________________________________________________________________________
 * overpayment.css
 *
 * Create styles that are applied to the HTML for the overpayment context details.
 */

div.overpay-container-panel {
  background-color: transparent;
  height:130px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 940px;
}

.overpayment-details {
  float: left;
  width: 100%;
  padding-left: 15px;
}

.overpayment-details .overpayment-type {
  font-size: 140%;
  color: #FB7803;
  width: 96%;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2px;
}

.overpayment-related-ic-case {
  font-size: 103%;
}

.overpayment-details-table {
  padding-top: 12px;
}

.overpayment-details-table table td {
  padding-left: 30px !important;
}

.overpayment-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 127px;
  right: 320px;
  top: 0;
  z-index: 0;
}

.overpayment-tab-details {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

.overpayment-chart-panel {
  position:absolute;
  right:10px;
  top:0;
  width:301px;
}

.overpayment-chart-detail {
  background-color:#FFFFFF;
  border-left:1px solid #DADADA;
  border-right:1px solid #DADADA;
  float:left;
  height:120px;
  padding-left:0;
  width:100%;
}

.overpayment-tab-details div.watermark {
  color: gainsboro;
  font-size: 450%;
  z-index: -2;
  position: absolute;
  top: 30px;
  left: 110px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: #ffffff;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .overpayment-tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .overpayment-details .overpayment-type {
  color: #a22d0b;
}

.high-contrast .overpayment-chart-detail {
  border-left:1px solid #575757;
  border-right:1px solid #575757;
}

/*______________________________________________________________________________
 * end overpayment.css
 */