#Curam_MOLSADisplayDocuments .page-level-menu a.ac{
  display:none !important;
}

#Curam_MOLSADisplayDocuments .page-header .page-description .mandatory-icon-help {
    display: none;
}

.molsa-landingPage .lp-banner-wrapper {
    background-image: url("../../Images/homepage_banner_bgm.png");
}

.molsa-landingPage div.lp-banner {
    background-position: right center;
}

.molsa-landingPage h2 {
    color:#9D0448 !important;
    font-weight:bold !important;; 
}
