div.dr-clusterCalculations table td.field {
  text-align: right;
  padding: 0;
}

.cluster div.dr-totalAmount{
    margin-top:0px;
    padding-top:0px; 
}   

.cluster div.dr-totalAmount table {
    margin-top:0px;
}

div.dr-totalAmount tr td.label{
    border-top: 1px solid gray;
}

div.dr-totalAmount tr td.label span {
  font-weight:bold;
  
}

div.dr-totalAmount tr td.field {
  border-top: 1px solid gray;
  text-align: right;
  font-weight: bold;
}


/* dr-calculation-list - A list for displaying calculations with a total */ 

.soria div.cluster td.top.first-col div.dr-calculation-list {
  margin-left: 0 !important;
  margin-top: 0;
}

.soria div.cluster.cluster-with-no-header td.top.last-col div.dr-calculation-list {
  margin-left: 0;
  margin-top: 0;
}

.soria div.cluster td.top div.dr-calculation-list {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

.soria .dr-calculation-list.list-with-header tbody tr td {
  border:none;
}
body.soria .dr-calculation-list tr.even td {
  background-color:white !important;
  border:none;
}

body.soria #content .dr-calculation-list table tr td {
  background:none;
  border:none;
  background-color:white;
}

body.soria #content .dr-calculation-list table tr th {
  background:none;
  border:none;
  background-color:white;
}

body.soria #content .dr-calculation-list table.no-header {
  border-top:none;
}

body.soria #content .dr-calculation-list table tr td.first-field {
  color:gray;
}

body.soria #content .dr-calculation-list table tr td.last-field {
  color:black;
  text-align:right;
}

body.soria #content .dr-calculation-list table tr.even-last-row td.first-field {
  color:gray;
  font-weight:bold;
}

body.soria #content .dr-calculation-list table tr.odd-last-row td.first-field {
  color:gray;
  font-weight:bold;
}

body.soria #content .dr-calculation-list table tr.even-last-row td {
  color:black;
  font-weight:bold;
  border-top-color:gray;
  border-top-style:solid;
  border-top-width:1px;
}

body.soria #content .dr-calculation-list table tr.odd-last-row td {
  color:black;
  font-weight:bold;
  border-top-color:gray;
  border-top-style:solid;
  border-top-width:1px;
}


body.soria #content .dr-calculation-list table td {
    padding-top:2px;
    padding-bottom:2px;
}

body.soria .dr-calculation-list table thead tr th span {
    border:none;
}

.soria div.dr-calculation-list table td {
		padding: 0px 0px;
}


/* cgiss-display-standardlist - A list with all the backgrounds removed */

.soria .dr-standard-list.list-with-header tbody tr td {
border:none;
}
body.soria .dr-standard-list tr.even td {
  background-color:white !important;
  border:none;
}

body.soria #content .dr-standard-list table tr td {
  background:none;
  border:none;
  background-color:white;
}

body.soria #content .dr-standard-list table tr th {
  background:none;
  border:none;
  background-color:white;
}

body.soria #content .dr-standard-list table.no-header {
  border-top:none;
}

body.soria #content .dr-standard-list table tr td.first-field {
  color:gray;
}

body.soria #content .dr-standard-list table tr td {
  color:black;
}

body.soria #content .dr-standard-list table td {
    padding-top:2px;
    padding-bottom:2px;
}

body.soria .dr-standard-list table thead tr th span {
    border:none;
}

body.soria div.dr-standard-list table td {
		padding: 0px 0px;
}

.soria div.cluster.cluster-with-no-header td.top.last-col div.dr-standard-list {
  margin-left: 0;
}

/* cgiss-display-calculationCluster - Cluster for use when showing calculations which include symbols */

div.cgiss-display-calculationCluster tr td.field {
  text-align: right;
}

div.cgiss-display-calculationCluster span.container span.separator {
  color: black;
  background-color: white;
  font-weight: bolder;
}

.soria div.cluster.cluster-with-no-header td.top.last-col div.cgiss-display-calculationCluster {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

.soria div.cluster.cluster-with-no-header td.top.first-col div.cgiss-display-calculationCluster {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

.soria div.cluster td.top div.cgiss-display-calculationCluster {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

/* cgiss-display-totalAmountCluster - Cluster for use at the end of a calculation cluster */

.soria div.cluster.cluster-with-no-header td.top.last-col div.cgiss-display-totalAmountCluster {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

.soria div.cluster td.top div.cgiss-display-totalAmountCluster {
  margin-left: 0 !important;
  margin-top: 0;
  margin-right: 0 !important;
}

.soria div.cgiss-display-totalAmountCluster table td.last-cell {
  padding-right: 19px;
}


.soria div.cgiss-display-totalAmountCluster table tr ,div.cgiss-display-totalAmountCluster table th span{
  text-align: right;
  font-weight:bold !important;
}

div.cgiss-display-totalAmountCluster {
    border-top: black solid 1px !important;
}
.soria div.cluster td.top.first-col div.cgiss-display-totalAmountCluster {
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
}

/* cgiss-eligibilitychecks-legend - Styling for the legend on the eligibility checks screen */

.soria div.cgiss-eligibilitychecks-legend table td {
  text-align: right;
  color: #F39002;
}

/* cgiss-display-subscreenCalculationList - A list of calculations in subscreens */


body.soria .cgiss-display-subscreenCalculationList table td.first-field {
	border: none;
	color: gray;
	background-color: white!important;
	padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0;
}

body.soria .cgiss-display-subscreenCalculationList table td.last-field {
  border: none;
  color: black;
  background-color: white!important;
  padding-top: 2px;
  padding-bottom: 2px;
}

div.cgiss-display-subscreenCalculationList table tr.even td.first-field,
div.cgiss-display-subscreenCalculationList table tr.odd td.first-field {
  background: none;
  background-color: white !important; 
  color: gray;
}

div.cgiss-display-subscreenCalculationList table tr.even td.last-field,
div.cgiss-display-subscreenCalculationList table tr.odd td.last-field {
  background: none;
  background-color: white !important;
  color: black;
  text-align: right;
}

body.soria div.cgiss-display-subscreenCalculationList table {
	border-top: none;
}

body.soria .cgiss-display-subscreenCalculationList table tr.odd-last-row td.first-field, 
body.soria .cgiss-display-subscreenCalculationList table tr.odd-last-row td.field.first-field, 
body.soria .cgiss-display-subscreenCalculationList table tr.even-last-row td.first-field, 
body.soria .cgiss-display-subscreenCalculationList table tr.even-last-row td.field.first-field {
  background: none;
  border-top: 1px solid;
  border-top-color: gray;
  font-weight: bold;
  color: gray;
  background-color: white !important;
}

body.soria .cgiss-display-subscreenCalculationList table tr.odd-last-row td.last-field,
body.soria .cgiss-display-subscreenCalculationList table tr.odd-last-row td.field.last-field, 
body.soria .cgiss-display-subscreenCalculationList table tr.even-last-row td.last-field, 
body.soria .cgiss-display-subscreenCalculationList table tr.even-last-row td.field.last-field {
  background: none;
  border-top: 1px solid;
  border-top-color: gray;
  font-weight: bold;
  color: black;
  background-color: white !important;
  text-align: right;
}

/* cgiss-display-removeMargin - Removes the margin from clusters and lists */

.soria div.cluster td.top.first-col div.cgiss-display-removeMargin,
.soria div.cluster td.top.last-col div.cgiss-display-removeMargin,
.soria div.cluster td.top div.cgiss-display-removeMargin {
  margin-left: 0 !important;
}

/* cgiss-display-decisionComparision - Decision comparision list */

.soria div.cluster td.top div.cgiss-display-decisionComparision {
  margin-left: 0;
}

body.soria .cgiss-display-decisionComparision table td {
  background: none !important;
  border: none !important;
}

body.soria .cgiss-display-decisionComparision table thead tr th {
  background: none !important;
  background-color: white !important;
  border: none !important;
}

body.soria .cgiss-display-decisionComparision table thead tr th span {
  padding: 0 !important;
  border: none !important;
}

.soria div.cgiss-display-decisionComparision table td {
  padding: 0 !important;
}

.soria div.cgiss-display-decisionComparision table td.first-field {
  color: gray;
}

/* cgiss-display-comparisionCalculation - Decision comparision list */

.soria div.cluster td.top div.cgiss-display-comparisionCalculation {
  margin-left: 0;
}

body.soria .cgiss-display-comparisionCalculation table td {
  background: none !important;
  border: none !important;
}

body.soria .cgiss-display-comparisionCalculation table thead tr th {
  background: none !important;
  background-color: white !important;
  border: none !important;
}

body.soria .cgiss-display-comparisionCalculation table thead tr th span {
  padding: 0 !important;
  border: none !important;
}

.soria div.cgiss-display-comparisionCalculation table td {
  padding: 0 !important;
}

.soria div.cgiss-display-comparisionCalculation table td.first-field {
  color: gray;
}

.soria div.cgiss-display-comparisionCalculation table tr.odd-last-row {
  font-weight: bold;
  border-top: black solid 1px !important;
}
