.rtl .cluster td.PersonPhoto-Container {
 padding-left: 0px;
 padding-right: 2px; 
}

.rtl div.person-photo-cluster > table > tbody > tr > td.top + td.top{
padding-left:0px;
padding-right:8px;
}