//
// Template policy file for enterprise application, this policy grants the enterprise application
// java.security.AllPermission
//

grant codeBase "file:${application}" {
  permission java.security.AllPermission;
};

