.serviceOfferingIcon {
    background-image: url(../../Images/service_offering_16x16.gif);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}
.serviceGroupClosedIcon, .serviceGroupOpenedIcon {
    background-image: url(../../Images/service_group_16x16.gif);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
}

