/*
  ______________________________________________________________________________
  * core custom.css
  *
  * CPM custom css styles.
 */
/*
  * Styling to remove extra set of action buttons from Browse In Edit Taxonomy Term
  * CR00261066, SSK
 */
#Curam_ProviderManagement_browseInEditTaxonomyTerm .page-header {
    display: none;
}
#Curam_ProviderManagement_browseInEditTaxonomyTerm .title-exists {
    top:0px;
}
/*
  * Styling to remove extra set of action buttons from Browse Taxonomy Terms
  * CR00261066, SSK
 */
#Curam_ProviderManagement_browseTaxonomyTerms.page-header {
    display: none;
}
#Curam_ProviderManagement_browseTaxonomyTerms .title-exists {
    top:0px;
}

/*
  * Styling to remove extra refresh button from browse compartments page
  * CR00386342, MR
 */
/*
  * Hide the entire page header.
 */

 #Curam_ProviderManagement_browseCompartments .page-header {
display: none;
}

 /*
  * Move up the content area.
 */
 
#Curam_ProviderManagement_browseCompartments .title-exists {
top: 0px;
}