/*______________________________________________________________________________
 * provider.css
 *
 * Create styles that are applied to the Provider Context Panel
 */

div.fm-provider-container {
  background-color: transparent;
  height: 120px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 950px;
}

div.fm-provider-details-panel {
  background-color:#FFFFFF;
  left:118px;
  position:absolute;
  right: 200px;
  top:0;
}

.fm-provider-tab-details {
  height: 108px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

div.fm-provider-tab-details img {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}

div.fm-provider-tab-details div.content-map img {
  float: none;
  padding-top: 1px;
  padding-right: 3px;
  vertical-align: bottom;
}

div.fm-provider-links-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 180px;
}

div.fm-provider-links-panel .tab-links .left-col,
div.fm-provider-links-panel .tab-links .inner-col {
  padding-top: 10px;
}

div.fm-provider-image-panel {
  width: 98px;
  position: absolute;
  left: 10px;
  top: 0px;
}

.fm-provider-details-table {
  clear: left;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.fm-provider-details-table table td {
  padding-left: 30px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.fm-provider-details-table table th {
  white-space: nowrap;
  word-wrap: normal;
}

.fm-provider-status {
  padding-left: 12px;
}

.fm-provider-tab-details div.content-contacts {
  bottom: 7px;
  position: absolute;
  width: 100%;
}

.fm-provider-tab-details div.content-address {
  max-width: 80%;
}

.fm-provider-links-panel .tab-links {
  height: 108px;
}

/* styles to make blue rounded corners on the bottom of the provider links panel */
div.fm-provider-links-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.fm-provider-links-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.fm-provider-links-panel div.wrapper div.wrapper-bottom div.center {
  background-color:  #E6EBF1;
}
/* end rounded corners styling */

/*__________________ high contrast styling _____________________*/
.high-contrast div.fm-provider-links-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

.high-contrast div.fm-provider-links-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

.high-contrast .fm-provider-tab-details {
 border-left: 1px solid #575757;
 border-right: 1px solid #575757;
}

/*______________________________________________________________________________
 * END provider.css
 */