/*______________________________________________________________________________
 * providerincident.css
 *
 * Create styles that are applied to the Provider Incident Context Panel
 */

div.prov-incident-container-panel {
  background-color: transparent;
  height:146px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width:900px;
}

div.prov-incident-container-panel div.prov-incident-content-panel {
  padding-left: 10px;
  padding-right:10px;
}

div.incident-tab-height {
  height: 138px;
}

div.prov-incident-content-panel div#tab-details div.content {
  padding: 0;
}

div.prov-incident-tab-details div.incident-details div.content {
  padding: 0;
}

.prov-incident-details .prov-content-incident-type {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
}

.prov-reported-by-table table {
  float: left;
}

.prov-incident-details-table table {
  width: 100%;
}

.prov-incident-details-table table td {
  padding-left: 15px !important;
}

.prov-reported-by-table table td {
  padding-left: 30px !important;
}

.prov-incident-details .prov-incident-participants {
  padding-bottom: 6px;
}

.prov-incident-details  .prov-incident-opened-date {
  float: left;
}

.prov-incident-details  .prov-incident-opened-by {
  float: left;
  padding-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prov-incident-details .prov-incident-date {
  font-family:tahoma;
  color: black;
  display: inline;
}

.prov-incident-details .prov-incident-time {
  font-family:tahoma;
  color: black;
  display: inline;
}

.prov-incident-details {
  float: left;
  width: 45%;
  padding-left: 15px;
  margin-top: 3px;
}

.prov-reported-details {
  float: right;
  border: 1px solid #DADADA;
  background-image: url('../../Images/details_panel_background_grey.png');
  width: 420px;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 5px;
  margin-right: 10px;
  height: 96px;
}

.prov-reported-by {
  float: left;
  font-weight: bold;
  padding-bottom: 3px;
  padding-right: 3px;
}

.prov-reported-by-person {
  float: left;
  font-weight: bold;
  padding-bottom: 3px;
  padding-right: 3px;
}

.prov-reported-by-date {
  float: left;
  clear: right;
  font-weight: bold;
  padding-bottom: 3px;
}

.prov-reported-by-address {
  padding-bottom: 10px;
  clear: left;
}

.prov-reported-details  .phonenumber {
  float: left;
  padding-right: 52px;
  color: black;
  padding-top: 12px;
}

.prov-reported-details  .email {
  float: left;
  color: black;
  padding-top: 12px;
}

.prov-reported-details .prov-reported-by-phone {
  float: left;
  clear: left;
  padding-right: 10px;
  padding-top: 10px;
  color: #696969;
}

.prov-reported-details .prov-reported-by-email {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

.prov-incident-tab-details {
  height: 137px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
}

div.prov-incident-tab-details .contact-content img {
  padding: 0px;
  float: left;
}

.prov-incident-contact-content .content {
  padding-left: 11px;
}

div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.center {
  background-color:  #E6EBF1;
}

/*__________________ high contrast styling _____________________*/
.high-contrast .prov-incident-tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .prov-reported-details {
  border: 1px solid #575757;
}

.high-contrast .prov-incident-details .prov-content-incident-type {
  color: #a22d0b;
}

.high-contrast .prov-incident-date {
  color: #a22d0b;
}

.high-contrast div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

.high-contrast div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}
/*______________________________________________________________________________
 * END providerincident.css
 */