/*______________________________________________________________________________
 * provider_rtl.css
 *
 * Create styles that are applied to the Provider Context Panel
 */



.rtl div.provider-details-panel {
  left:236px;
  right: 118px;
}

.rtl .provider-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl div.provider-tab-details img {
  float: right;
  padding-right: 0;
  padding-left: 10px;
}

.rtl div.provider-tab-details div.content-map img {
  padding-right: 0;
  padding-left: 3px;
}

.rtl div.provider-links-panel {
  right: auto;
  left: 10px;
}

.rtl div.provider-contracts-panel {
  right: auto;
  left: 234px;
}

.rtl .provider-category {
  padding-left: 10px;
  padding-right: 15px;
  clear: right;
  float: right;
}

.rtl .provider-webaddress {
  float: right;
}

.rtl div.webaddress {
  padding-right: 0;
  padding-left: 20px;
  float: right;
}

.rtl div.provider-image-panel {
  left: auto;
  right: 10px;
}

.rtl .provider-details-table {
  clear: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .provider-details-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .provider-status {
  padding-left: 0;
  padding-right: 12px;
}

.rtl .provider-contract-table {
  padding-left: 0;
  padding-right: 4px;
}


.rtl .provider-contract-table table td {
  padding-left: 0 !important;
  padding-right: 5px !important;
}

.rtl .contract-panel-details {
  padding-right: 0px;
  float: right;
}

.rtl .provider-contract-content {
  padding-right: 0px;
  float: right;
}


/* styles to make blue rounded corners on the bottom of the provider links panel */
.rtl div.provider-links-panel div.wrapper div.wrapper-bottom div.left {
  background-position: right bottom;
}

.rtl div.provider-links-panel div.wrapper div.wrapper-bottom div.center div.right {
  background-position: left bottom;
}

/* end rounded corners styling */

/*__________________ high contrast styling _____________________*/


.rtl .high-contrast div.provider-links-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

.rtl .high-contrast div.provider-links-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}


/*______________________________________________________________________________
 * END provider_rtl.css
 */