/*______________________________________________________________________________
 * providerincident_rtl.css
 *
 * Create styles that are applied to the Provider Incident Context Panel
 */


.rtl .prov-reported-by-table table {
  float: right;
}

.rtl .prov-incident-details-table table td {
  padding-left: 0 !important;
  padding-right: 15px !important;
}

.rtl .prov-reported-by-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .prov-incident-details  .prov-incident-opened-date {
  float: right;
}

.rtl .prov-incident-details  .prov-incident-opened-by {
  float: right;
  padding-left: 0;
  padding-right: 3px;
}

.rtl .prov-incident-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .prov-reported-details {
  float: left;
  padding-left: 0;
  padding-right: 10px;
  margin-right: 0;
  margin-left: 10px;
}

.rtl .prov-reported-by {
  float: right;
  padding-left: 0;
  padding-right: 3px;
}

.rtl .prov-reported-by-person {
  float: right;
  padding-right: 0;
  padding-left: 3px;
}

.rtl .prov-reported-by-date {
  float: right;
  clear: left;
}

.rtl .prov-reported-by-address {
  clear: right;
}

.rtl .prov-reported-details  .phonenumber {
  float: right;
  padding-right: 0;
  padding-left: 52px;
}

.rtl .prov-reported-details  .email {
  float: right;
}

.rtl .prov-reported-details .prov-reported-by-phone {
  float: right;
  clear: right;
  padding-right: 0;
  padding-left: 10px;
}

.rtl .prov-reported-details .prov-reported-by-email {
  float: right;
  padding-right: 0;
  padding-left: 10px;
}

.rtl .prov-incident-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl div.prov-incident-tab-details .contact-content img {
  float: right;
}

.rtl .prov-incident-contact-content .content {
  padding-left: 0;
  padding-right: 11px;
}

.rtl div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

.rtl div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

/*__________________ high contrast styling _____________________*/

.rtl .high-contrast div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

.rtl .high-contrast div.prov-incident-content-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}
/*______________________________________________________________________________
 * END providerincident_rtl.css
 */