/*______________________________________________________________________________
 * providerinvestigation_rtl.css
 *
 * Create styles that are applied to the Provider Investigation Context Panel
 *
 * The majority of provider investigation styling is inherited from the Investigation.css
 */

.rtl .provider-investigation-details {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .investigation-tab-details .contact-content .latest-contact-table table tbody.horiz-table-body td {
  padding-left: 0 !important;
  padding-right: 25px !important;
}


/*______________________________________________________________________________
 * END providerinvestigation_rtl.css
 */