/*______________________________________________________________________________
 * providertrainingdetailslist.css
 *
 * Styles that are applied to the ProviderManagement_enterProviderTrainingDetails training details cluster
 */
.soria div.training-details-list table.date td.input-date,
.soria div.training-details-list table.date td.popup-actions {
  border-bottom: 0px;
  background: none;
}

.soria div.training-details-list table.date td.input-date {
  padding-left: 0px;
}

.soria div.training-details-list table div.list table.date {
  margin-top: 0px;
}

 /*______________________________________________________________________________
  * end providertrainingdetailslist.css
  */