/*______________________________________________________________________________
 * provider.css
 *
 * Create styles that are applied to the Provider Context Panel
 */

div.provider-container {
  background-color: transparent;
  height: 132px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 950px;
}

div.provider-details-panel {
  background-color:#FFFFFF;
  left:118px;
  position:absolute;
  right: 236px;
  top:0;
}

.provider-tab-details {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

div.provider-tab-details img {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}

div.provider-tab-details div.content-map img {
  float: none;
  padding-top: 1px;
  padding-right: 3px;
  vertical-align: bottom;
}

div.provider-links-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 215px;
}

div.provider-contracts-panel {
  position: absolute;
  right: 234px;
  width: 234px;
  background-color:#FFFFFF;
}

.provider-category {
  padding-left: 15px;
  padding-right: 10px;
  clear: left;
  float: left;
  white-space: nowrap;
}

.provider-webaddress {
  display: block;
  float: left;
}

div.webaddress {
  font-family: tahoma;
  padding-right: 20px;
  padding-top: 8px;
  float: left;
}

div.provider-image-panel {
  width: 98px;
  position: absolute;
  left: 10px;
  top: 0px;
}

.provider-details-table {
  clear: left;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.provider-details-table table td {
  padding-left: 30px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.provider-details-table table th {
  white-space: nowrap;
  word-wrap: normal;
}

.provider-status {
  padding-left: 12px;
}

.provider-contract-table {
  padding-top: 3px;
  padding-left: 4px;
}

.provider-contract-table table {
  border-collapse:collapse;
  table-layout:fixed;
  width: 190px;
}

.provider-contract-table table td {
  white-space: nowrap;
  padding-left: 5px !important;
}

.provider-contract-table table th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contract-panel-details {
  height: 48px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

.provider-tab-details div.content-contacts {
  bottom: 7px;
  position: absolute;
  width: 100%;
}

.provider-tab-details div.content-address {
  max-width: 80%;
}

.provider-contract-content {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.provider-links-panel .tab-links {
  height: 120px;
}

.static-div {
  width: 0;
  height: 0;
}

/* styles to make blue rounded corners on the bottom of the provider links panel */
div.provider-links-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.provider-links-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.provider-links-panel div.wrapper div.wrapper-bottom div.center {
  background-color:  #E6EBF1;
}
/* end rounded corners styling */

/*__________________ high contrast styling _____________________*/
.high-contrast .provider-tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .provider-contract-content {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast div.provider-links-panel div.wrapper div.wrapper-bottom div.left {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

.high-contrast div.provider-links-panel div.wrapper div.wrapper-bottom div.center div.right {
  background:url("../../Images/highcontrast/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

/*______________________________________________________________________________
 *
 * Style appiled to context panels used with search expanded list.
 *
 */
 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }


 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page div#tab-title {
  display: none;
 }

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
 }

 body#Curam_ProviderManagement_providerHomeTabDetailsPreview.list-inline-page div#content div.provider-container {
   min-width: 850px;
   top: 0px;
 }

/*______________________________________________________________________________
 * END provider.css
 */