/*______________________________________________________________________________
 * investigation_rtl.css
 * 
 * Create styles that are applied to the HTML for the service and referral context panels.
 */
 
/* Small content panel used with multiple clients */
.rtl .serviceorreferral-content-panel { 
  left: 6px;
  right: 545px;
}

/* Medium content panel used with single client */
.rtl .serviceorreferral-content-panel-medium { 
  right: 130px;
  left: 10px;
}

.rtl .serviceorreferral-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .serviceorreferral-details {
  float: right;
  margin-left: 0px;
  margin-right: 5px;
}

.rtl .serviceorreferral-details .status {
  padding-right: 5px;
  right: auto;
  left: 0px;
  padding-left: 15px;
}

.rtl .provider-name-icons .person-name {
  float: right;
  padding-right: 0px;
  padding-left: 5px;
}

.rtl .provider-name-icons .list-icon {
  float: right;
  padding-right: 0px;
  padding-left: 3px;
}

.rtl .serviceorreferral-tab-details .date-content { 
  left: auto;  
  right: 1px;  
}

.rtl .date-content-detail { 
  margin-left: 0px;
  margin-right: 5px;
}

.rtl .serviceorreferral-tab-details .date-content-detail img { 
  padding-right: 0px;
  padding-left: 5px;
  float: right;
}

.rtl .serviceorreferral-tab-details .date-content-detail .date-content-table  {
  float: right;
}

.rtl .serviceorreferral-tab-details .date-content-detail .date-content-table table {
  margin-left: 15px;
  margin-right: 5px;
}



/* styles for multiple clients on service or referral */
.rtl #stackCon-fourimages-serviceorreferral {
  left: 440px;
  right: 5px;
}

.rtl #container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default .prev-button-div {  
  margin-left: 0px;
  margin-right: 3px;
} 

.rtl #container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default .rotator {  
  float: right;
} 

.rtl #container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default .rotator-buttons-disabled {  
  float: right;
} 
 
.rtl #container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: right;
   padding-left: 0px;
   padding-right: 9px;
}

.rtl #container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list {
  left: auto;
  right: 28px;
}

.rtl #container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list .person-name-icons .person-name {
  float: right;
  padding-right: 0px;
  padding-left: 5px;
}
.rtl #container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list .person-name-icons .list-icon {
  float: right;
  padding-right: 0px;
  padding-left: 3px;
}

 /* End of styling for four image stack container  */