/*______________________________________________________________________________
 * applicationcase.css
 * 
 * Create styles that are applied to the HTML for the investigation tab details.
 */
 
  div.container-panel-applicationcase {
  background-color: transparent; 
  height:140px; 
  overflow: visible;
  position: relative;
}   

/* style for single client panel */
div.container-panel-applicationcase div.case-participant-panel {
  top: 6px !important;
}


.applicationcase-tab-details {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}



.applicationcase-details {
  float: left;
  width: 98%;
  margin-left: 5px;
}

.applicationcase-details .name {
  font-size: 140%;
  color: #FB7803;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;      
  padding: 0px;
}

.applicationcase-details .reference {
  font-size: 120%;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
  color: #FB7803; 
}

.applicationcase-details .tab-link {
  font-size: 120%;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.applicationcase-details .main-details {
  padding-top: 5px;
}



div.application-case-programs  {
    color: #696969;
    padding-left: 5px;
    padding-top: 50px;
}

div.application-case-programs-list {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;     
  padding-left: 5px;
  padding-top: 1px;
}




/* style for single client panel */
div.container-panel-outcomeplan div.case-participant-panel {
  top: 6px !important;
}


/* styles for multiple clients on outcome plan */
#stackCon-threeimages-applicationcase {
  position: absolute;
  right: 440px;
  left: 5px;
  z-index: 1;
  top: 5px;
}

#stackCon-threeimages-applicationcase .dijitContainer {
  overflow: visible;
  position: absolute;
  top: 3px;
  z-index: -1;
}

#controller_stackCon-threeimages-applicationcase {
  display: block;
  width: 1px;
}

#stackCon-threeimages-applicationcase .stackControl { 
  position: absolute;
}

#stackCon-threeimages-applicationcase #container_stackCon-threeimages-applicationcase div.stack-container-photo {
  overflow: visible;
  height: 131px;
  width: 440px;
  padding: 0px;
}

#stackCon-threeimages-applicationcase #container_stackCon-threeimages-applicationcase div.stack-container-list {
  height: 131px;
  overflow: visible;
}

#controller_stackCon-threeimages-applicationcase span span span {
  border: none;
  padding: 0px;
}

#controller_stackCon-threeimages-applicationcase span.dijitChecked #controller_stackCon-threeimages-applicationcase_title_1 {
  background-image: url('../../Images/toggle_photo_nor.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_1 {
  background-image: url('../../Images/toggle_photo_nor.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-threeimages-applicationcase span.dijitChecked #controller_stackCon-threeimages-applicationcase_title_2{
  background-image: url('../../Images/toggle_list_nor.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_2{
  background-image: url('../../Images/toggle_list_nor.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

/*__________________ high contrast styling _____________________*/
.high-contrast #controller_stackCon-threeimages-applicationcase span.dijitChecked #controller_stackCon-threeimages-applicationcase_title_1 {
  background-image: url('../../Images/highcontrast/toggle_photo_nor.png');
}

.high-contrast #controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_1 {
  background-image: url('../../Images/highcontrast/toggle_photo_nor.png');
}

.high-contrast #controller_stackCon-threeimages-applicationcase span.dijitChecked #controller_stackCon-threeimages-applicationcase_title_2{
  background-image: url('../../Images/highcontrast/toggle_list_nor.png');
}

.high-contrast #controller_stackCon-threeimages-applicationcase span #controller_stackCon-threeimages-applicationcase_title_2{
  background-image: url('../../Images/highcontrast/toggle_list_nor.png');
}

.high-contrast .applicationcase-details .name {
  color: #A22D0B;
}

.high-contrast .applicationcase-details .reference {
  color: #A22D0B;
}
/*__________________ high contrast styling _____________________*/

#container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .prev-button-div {  
  margin-left: 3px;
} 

#container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator {  
  width: 86%;
  overflow: hidden;
  float: left;
} 

#container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-buttons-disabled {  
  width: 94%;
  overflow: hidden;
  float: left;
} 
 
#container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default { 
  height:131px !important;
  width: 440px;
}
 
#container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: left;
   padding-left: 9px;
   position: relative;
   width: 113px;
}

#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list {
  left: 28px;
  position: absolute;
  width: 89%;
}

#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div.table-list {
  max-height: 105px !important;
}

#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list table.list-body th.table-header {
  padding-bottom: 0px;
  border: none;
}

#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list div {
  zoom:normal;
}

#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .person-name-icons .person-name {
  float: left;
  padding-right: 5px;
  padding-top: 3px;
}
#container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .person-name-icons .list-icon {
  float: left;
  padding-right: 3px;
  padding-top: 2px !important;
}

/* Small content panel used with multiple clients */
.applicationcase-content-panel { 
  background-color: #FFFFFF;
  position: absolute;
  right: 207px;
  top: 6px;
  left: 445px;
  min-width:200px;
}

/* Medium content panel used with single client */
.applicationcase-content-panel-medium { 
  background-color: #FFFFFF;
  position: absolute;
  left: 130px;
  top: 6px;
  right: 207px;
}

div.applicationcasee-content-panel-blue-footer div.wrapper div.bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.applicationcase-content-panel-blue-footer div.wrapper div.bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.applicationcase-content-panel-blue-footer div.wrapper div.bottom div.center {
  background-color:  #E6EBF1;
}


/* Right hand side content panel for Application Case Home Context Panel */
.applicationcase-right-panel {
  color: #376F8F;
  text-decoration: none;
  position: absolute;
  right: 5px;
  top: 7px;
  width: 185px;
 /* border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;*/
}


/* Content panel for Application Case Status outer panel */

div.application-case-outer-status {
  width: 100%;
  background-color: #FFFFFF;
  height: 18px;
}

/* Content panel for Application Case Status*/
div.application-case-status {
  padding-left: 10px;
  padding-top: 2px;
  white-space: nowrap;
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden; 
  color: black;
}


.application-right-panel-table-links {
  background-color:#E6ECF4;
  float: left;
  width: 100%;
  height:122px;
}

div.case-owner-panel {
  width: 100%;
  background-color: #FFFFFF;
  position: absolute;
  bottom: 2px;
  left: 1px;
  height: 18px;
  padding-top: 4px;
}

div.case-owner-icon {
  padding-left: 11px;
  padding-right: 4px;
  padding-top: 2px;
}

div.case-owner,
div.case-owner-icon {
  float: left;
}



 /* End of styling for four image stack container  */