/* CSS file */

.chart {
  backgroundColor: white;
  fontSize: 10;
  font-family: "wt";
  font-style: normal; 
}

Application {
  backgroundColor: white;
  font-family: "wt";
  backgroundGradientColors: white, white;
}

DataTip {
  fontSize: 10;
  font-family: "wt";
  font-weight: normal;           
  paddingLeft: 2;
}

Text {
  fontSize: 10;
  font-family: "wt";
  font-weight: normal;
  textAlign: center;
}

.axisTitle {
  fontSize: 10;
  font-family: "wt";
  font-weight: bold;
}

.legendItem {
  fontSize: 10;
  font-family: "wt";
  font-weight: normal;
  textAlign: center;     
}

.legend {
  fontSize: 10;
  font-family: "wt";
  font-weight: normal;
  textAlign: center;
}

.axisStyle {
  fontSize: 10;
  font-family: "wt";
  font-weight: normal;
  textAlign: center;
}