/*______________________________________________________________________________
 * Intake findclientpod
 *
 * styles for the find client pod
 */

.findclientpod-background {
  background-color: #ffffff;
  width: 100%;
}

.referencelabel {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 8px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}

.referencefield {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 8px;
    width: 95%;
}

.firstnamelabel {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}

.firstnamefield {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 95%;
}

.middleinitiallabel {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}

.middleinitialfield {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 10%;
}

.lastnamelabel {
    height: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}

.lastnamefield {
    height: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 95%;
}
.dateofbirthlabel {
    height: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
    width: 30%;
    padding-left:10px;
    font-family:tahoma;
    font-size: 100%;
}


.findclientpod-background table.date {
  width: 45%;
  text-align: left;
  width: 50% !important;
}

.findclientpod-background td div.action-bar {
    text-align: center;
    float: none;
    width: 95%;
    margin-top: 10px;
}


.findClientActions div.action-bar {
    text-align: center;
}

.findClientActions span.action-bar {
    float: none;
}



