/*______________________________________________________________________________
 * providermember.css
 *
 * Create styles that are applied to the Provider Investigation Context Panel
 */

div.provider-mem-container {
  background-color: transparent;
  height: 140px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 700px;
}

div.member-image-panel {
  width: 107px;
  left: 10px;
  top: 0;
  position: absolute;
}

div.member-details-panel {
  background-color: #FFFFFF;
  position: absolute;
  right: 10px;
  top: 0;
  left: 126px;
  z-index: -1;
}

div.member-details-panel .tab-details {
  height: 120px;
}

div.member-duration {
  clear: left;
  font-family: tahoma;
  padding-left: 15px;
  padding-bottom: 7px;
}

div.member-details-table {
  padding-left: 15px;
  padding-bottom: 5px;
}

.member-details-table table td {
  padding-left: 30px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.member-details-table table th {
  white-space: nowrap;
  word-wrap: normal;
}

.member-details-table div.content-contacts {
  padding-top: 5px;
}

/* style to shade rounded corners on image panel */
div.member-image-panel div.wrapper .wrapper-top {
  height: 1px;
}

div.member-image-panel div.wrapper .warpper-top .center {
  background-color: #EBEBEB;
}
/* end style to shade rounded corners on image panel */


/*______________________________________________________________________________
 * END providermember.css
 */