/*______________________________________________________________________________
 * providergroup.css
 *
 * Create styles that are applied to the Provider Context Panel
 */

div.providergroup-container {
  background-color: transparent;
  height: 120px;
  overflow: hidden;
  position: relative;
  top: 5px;
  min-width: 900px;
}

div.providergroup-image-panel {
  width: 98px;
  position: absolute;
  left: 10px;
  top: 0px;
}

div.providergroup-details-panel {
  background-color:#FFFFFF;
  left:118px;
  position:absolute;
  right: 10px;
  top:0;
}

.providergroup-tab-details {
  height: 108px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

div.providergroup-tab-details img {
  float: left;
  padding-right: 10px;
  padding-top: 5px;
}

div.providergroup-tab-details div.content-map img {
  float: none;
  padding-top: 1px;
  padding-right: 3px;
  vertical-align: bottom;
}

.providergroup-details-table {
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 15px;
  clear: left;
}

.providergroup-details-table table td {
  padding-left: 25px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.providergroup-details-table table th {
  white-space: nowrap;
  word-wrap: normal;
}

.providergroup-contract-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 230px;
}

.providergroup-contract-content {
  height: 108px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.contract-content-details {
  float: left;
  width: 100%;
  padding-left: 15px;
}

.contract-content .underline {
  border-bottom: 1px solid grey;
  width: 80%;
  height: 10px;
}

div.contract-title {
  padding-top: 5px;
}

h3.contract-title {
  background: url(../../Images/icon_contract_in_review.png) no-repeat top left white;
  padding-left: 25px;
  height: 20px;
  border-bottom: 1px solid #DADADA;
  width: 76%;
  padding-top: 3px;
}

.providergroup-contract-table {
  padding-top: 1px;
  padding-left: 4px;
}

.providergroup-contract-table table {
  border-collapse:collapse;
  table-layout:fixed;
  width: 190px;
}

.providergroup-contract-table table td {
  white-space: nowrap;
  padding-left: 5px !important;
}

.providergroup-contract-table table th {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.providergroup-tab-details div.webaddress,
.providergroup-tab-details div.email {
  font-family: tahoma;
  padding-right: 20px;
  padding-top: 8px;
  float: left;
  margin-right: 0px;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .providergroup-tab-details {
 border-left: 1px solid #575757;
 border-right: 1px solid #575757;
}

.high-contrast .providergroup-contract-content {
 border-left: 1px solid #575757;
 border-right: 1px solid #575757;
}

.high-contrast h3.contract-title {
  background: url(../../Images/highcontrast/icon_contract_in_review.png) no-repeat top left white;
}

/*______________________________________________________________________________
 *
 * Style appiled to context panels used with search expanded list.
 *
 */
 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page { overflow-y: visible }

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page .top .left { background:none }

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page .top .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page .top .right { background:none; }

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page .top { height: 1px; }

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page .bottom .left { background:none }

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page .bottom .center { border: none; height:1px; background-color: transparent;}

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page .bottom .right { background:none; }

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page .bottom{ height: 1px; }


 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page div#tab-title {
  display: none;
 }

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page div#content {
  border-left: 0px;
  border-right: 0px;
  overflow: auto;
  position: relative;
  top: 0px;
  background: transparent;
 }

 body#Curam_ProviderManagement_providerGroupHomeTabDetailsPreview.list-inline-page div#content div.providergroup-container {
   min-width: 850px;
   top: 0px;
 }

/*______________________________________________________________________________
 * END providergroup.css
 */