/*______________________________________________________________________________
 * providerinvestigatio.css
 *
 * Create styles that are applied to the Provider Investigation Context Panel
 *
 * The majority of provider investigation styling is inherited from the Investigation.css
 */

div.prov-investigation-container-panel {
  background-color: transparent;
  height:130px !important;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 940px;
  width: 100%;
}

div.prov-investigation-container-panel .image-panel-content div.participant-image {
  padding-top: 15px;
  padding-bottom: 6px;
}

.provider-investigation-details {
  padding-left: 15px;
}

.provider-investigation-details .provider-investigation-reference {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 4px;
}

.investigation-tab-details .contact-content .latest-contact-table table tbody.horiz-table-body td {

  padding-left: 25px !important;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .provider-investigation-details .provider-investigation-reference {
  color: #a22d0b;
}

/*______________________________________________________________________________
 * END providerinvestigation.css
 */