/*______________________________________________________________________________
 * serviceinvoiceclientdetails.css
 *
 * Styles that are applied to the ProviderManagement_modifySILICorrection client details cluster
 */

.soria div.sili-correction-clientdetails table tbody tr td div.list {
  margin-left: 0px;
}

.soria div.sili-correction-clientdetails table.date td.input-date,
.soria div.sili-correction-clientdetails table.date td.popup-actions {
  border-bottom: 0px;
  background: none;
}

.soria div.sili-correction-clientdetails table.date td.input-date {
  padding-left: 0px;
}

.soria div.sili-correction-clientdetails table div.list table.date {
  margin-top: 0px;
}

.soria div.sili-correction-clientdetails table div.list table tr td.first-field input[type=text] {
  width: auto !important;
}

/*
* This is to avoid text box extending to second field
*/
.soria div.cpm-widget-textbox table div.list table tr td.first-field input[type=text] {
  width: 85%;
}

 /*______________________________________________________________________________
  * end serviceinvoiceclientdetails.css
  */