/*______________________________________________________________________________
 * AUDITORAPP.css
 *
 * Styling specific to the Auditor Application View.
 */

.AUDITORAPP.soria.high-contrast .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/highcontrast/LIME/pod_title_cc.png");
}

.AUDITORAPP.soria.high-contrast div.roundy-pod-top .title-left {
  background-image: url("../../Images/pods/colors/highcontrast/LIME/pod_title_tl.png");
}

.AUDITORAPP.soria.high-contrast div.roundy-pod-top .title-center {
  background-image: url("../../Images/pods/colors/highcontrast/LIME/pod_title_tc.png"); 
}

.AUDITORAPP.soria.high-contrast div.roundy-pod-top .title-right {
  background-image: url("../../Images/pods/colors/highcontrast/LIME/pod_title_tr.png");
}
/*------------------------------------*/