/*______________________________________________________________________________
 * DefaultApp.css
 *
 * Styling specific to the Default Application View.
 */

.DefaultApp.soria.high-contrast .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/pods/colors/highcontrast/PURPLE/pod_title_cc.png");
}

.DefaultApp.soria.high-contrast div.roundy-pod-top .title-left {
  background-image: url("../../Images/pods/colors/highcontrast/PURPLE/pod_title_tl.png");
}

.DefaultApp.soria.high-contrast div.roundy-pod-top .title-center {
  background-image: url("../../Images/pods/colors/highcontrast/PURPLE/pod_title_tc.png");
}

.DefaultApp.soria.high-contrast div.roundy-pod-top .title-right {
  background-image: url("../../Images/pods/colors/highcontrast/PURPLE/pod_title_tr.png");
}

/*------------------------------------*/