/*______________________________________________________________________________
 * externallogin_rtl.css
 *
 * Create styles that are applied to the external provider login page.
 */

/* there are browser specific styles for the pmep-wrapper style below, check _ie7 and _ie8 css files*/
body.rtl.soria div.pmep-wrapper,
body.rtl.soria div.list.pmep-wrapper,
body.rtl.soria div.cluster.pmep-wrapper {
  margin: 0px auto;
  width: 668px;
}

body.rtl.soria div.pmep-wrapper div.pmep-register-container {
  margin: 0px 20px 30px 35px !important;
}

body.rtl.soria div.pmep-title-cluster {
  padding-left: px;
  padding-right: 25px;
}

body.rtl.soria div#content div.pmep-register-container table tbody tr td div.action-set {
  padding-right: 0px;
}

body.rtl.soria div.pmep-register-container table:first-child tr:first-child td.first-col {
  padding: 20px 40px 0px 20px;
}

body.rtl.soria div.pmep-register-container table:first-child tr td.first-col {
  padding: 0px 40px 20px 20px;
}

body.rtl.soria div.pmep-copyright table tbody tr td {
  text-align: center;
}

body.rtl.soria div.pmep-cluster-main table tr td.pmep-title-image {
 padding-right: 0px;
 padding-left: 8px;
}


body.rtl.soria div.pmep-cluster-main table tr td.pmep-title-image img {
  float: left;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

body.rtl.soria div#content div.pmep-register-container table tbody tr td div.action-set {
  padding-left: 0px;
  padding-right: 40px;
}

/*______________________________________________________________________________
 * end externallogin_rtl.css
 */