/*______________________________________________________________________________
 * applicationcase_rtl.css
 * 
 * Create styles that are applied to the HTML for the investigation tab details.
 */

.rtl .applicationcase-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .applicationcase-details {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

.rtl .applicationcase-details .reference {
  padding-right: 5px;
  right: auto;
  left: 0px;
  padding-left: 15px;
}

.rtl div.application-case-programs  {
    padding-left: 0;
    padding-right: 5px;
}

.rtl div.application-case-programs-list {
  padding-left: 0;
  padding-right: 5px;
}


/* styles for multiple clients on outcome plan */
.rtl #stackCon-threeimages-applicationcase {
  right: 5px;
  left: 440px;
}


.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .prev-button-div {  
  margin-left: 0;
  margin-right: 3px;
} 

.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator {
  float: right;
} 

.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator-buttons-disabled {
  float: right;
} 
 
.rtl #container_stackCon-threeimages-applicationcase .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: right;
   padding-left: 0;
   padding-right: 9px;
}

.rtl #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list {
  left: auto;
  right: 28px;
}

.rtl #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .person-name-icons .person-name {
  float: right;
  padding-right: 0;
  padding-left: 5px;
}
.rtl #container_stackCon-threeimages-applicationcase .stack-container-list .tab-case-list .person-name-icons .list-icon {
  float: right;
  padding-right: 0;
  padding-left: 3px;
}

/* Small content panel used with multiple clients */
.rtl .applicationcase-content-panel { 
  right: 445px;
  left: 207px;
}

/* Medium content panel used with single client */
.rtl .applicationcase-content-panel-medium { 
  left: 207px;
  right: 130px;
}

.rtl div.applicationcasee-content-panel-blue-footer div.wrapper div.bottom div.left {
  background-position: right bottom;
}

.rtl div.applicationcase-content-panel-blue-footer div.wrapper div.bottom div.center div.right {
  background-position: left bottom;
}

/* Right hand side content panel for Application Case Home Context Panel */
.rtl .applicationcase-right-panel {
  right: auto;
  left: 5px;
}


/* Content panel for Application Case Status*/
.rtl div.application-case-status {
  padding-left: 0;
  padding-right: 10px;
}


.rtl .application-right-panel-table-links {
  float: right;
}

.rtl div.case-owner-panel {
  left: auto;
  right: 1px;
}

.rtl div.case-owner-icon {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl div.case-owner,
.rtl div.case-owner-icon {
  float: right;
}



 /* End of styling for four image stack container  */