div.outer-cluster-borderless {
  border:none !important;
}

div.cluster-no-bottom-margin-border {
  margin-bottom:0px;
  border-bottom-width: 2px;
  border-bottom-style: none;
}

div.cluster-no-bottom-margin-border {
  margin-bottom:0px;
  border-bottom-width: 2px;
  border-bottom-style: none;
}

div.outer-cluster-borderless-nospace-right-margin div.cluster {
  padding:0 22px 0 0 !important;
  width: 100%;
  margin: 0px !important;
}

div.cluster div.outer-cluster-borderless-no-margin-no-padding td.top {
  padding:0 !important;
  margin: 0px !important;
}

div.cluster-inner-clusters-no-padding-margin-top-bottom-border tbody tr td div.cluster {
  padding: 0px;
  margin: 0px;
  border-top-style: none;
  border-left: 0px;
  border-bottom: none;
}

div.inner-clusters-invisible td.top {
  background-color:#EBEDF2 !important;
  border:none !important;  
  padding:0px !important;
  margin:0px !important;
}

div.inner-clusters-invisible td.top div.cluster {
 border:none !important;
}

div.inner-clusters-invisible td.top div.list {
 border:none !important;
 padding:0px !important;
 margin:0px !important;
 width:100%!important;
 
}

div.details-panel-invisible-cluster {
  border:none !important;
  margin-top:2px;
  margin-left:0px;
  margin-right:0px;
  width:100%;
}
div.blue-cluster-background td {
  background-color:#EBEDF2;
  padding-left:5px;
  padding-right:10px;
  border-bottom: 0px;
}
div.cluster-rich-text td.field textarea {
  width: auto;
}