/*______________________________________________________________________________
 * investigation.css
 * 
 * Create styles that are applied to the HTML for the service and referral context panels.
 */
 
 div.container-panel-serviceorreferral {
  background-color: transparent; 
  height:140px; 
  overflow: visible;
  position: relative;
}   

/* Small content panel used with multiple clients */
.serviceorreferral-content-panel { 
  background-color: #FFFFFF;
  position: absolute;
  right: 6px;
  top: 6px;
  left: 545px;
  min-width:400px;
}

/* Medium content panel used with single client */
.serviceorreferral-content-panel-medium { 
  background-color: #FFFFFF;
  position: absolute;
  left: 130px;
  top: 6px;
  right: 10px;
}

div.content-panel-blue-footer div.wrapper div.bottom div.left {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll left bottom transparent;
}

div.content-panel-blue-footer div.wrapper div.bottom div.center div.right {
  background:url("../../Images/details-cluster-corners-blue.png") no-repeat scroll right bottom transparent;
}

div.content-panel-blue-footer div.wrapper div.bottom div.center {
  background-color:  #E6EBF1;
}

.serviceorreferral-tab-details {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

.serviceorreferral-details {
  float: left;
  width: 98%;
  margin-left: 5px;
}

.serviceorreferral-details .name {
  font-size: 140%;
  color: #FB7803;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;      
  padding: 0px;
}

.serviceorreferral-details .status {
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  position: absolute;
  right: 0px;
  top: 10px;
  padding-left: 5px;
}

.serviceorreferral-details .tab-link {
  font-size: 120%;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.serviceorreferral-details .main-details {
  padding-top: 5px;
}

.serviceorreferral-details-list-two-columns {
  width: 100%;
}

.serviceorreferral-details-list-two-columns > tbody > tr > th.field,
.serviceorreferral-details-list-two-columns > tbody > tr > td.field {
  width: 50%;
  padding: 0px !important;
}

.provider-name-icons .person-name {
  float: left;
  padding-right: 5px;
  padding-top: 1px;
}

.provider-name-icons .list-icon {
  float: left;
  padding-right: 3px;
  padding-top: 0px !important;
}

.serviceorreferral-tab-details .date-content { 
  position: absolute;
  bottom: 1px;
  left: 1px;  
  width: 100%;  
  background-color: #E6EBF1;
}

.date-content-detail { 
  margin-left: 5px;
  margin-top: 1px;
}

.serviceorreferral-tab-details .date-content-detail img { 
  padding-right: 5px;
  float: left;
}

.serviceorreferral-tab-details .date-content-detail .date-content-table  {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 44%;
  margin-top: 2px;
}

.serviceorreferral-tab-details .date-content-detail .date-content-table table {
  margin-left: 5px;
  margin-top: 2px;
  margin-right: 15px;
}

/* style for single client panel */
div.container-panel-serviceorreferral div.case-participant-panel {
  top: 6px !important;
}


/* styles for multiple clients on service or referral */
#stackCon-fourimages-serviceorreferral {
  position: absolute;
  right: 440px;
  left: 5px;
  z-index: 1;
  top: 5px;
}

#stackCon-fourimages-serviceorreferral .dijitContainer {
  overflow: visible;
  position: absolute;
  top: 3px;
  z-index: -1;
}

#controller_stackCon-fourimages-serviceorreferral {
  display: block;
  width: 1px;
}

#stackCon-fourimages-serviceorreferral .stackControl { 
  position: absolute;
}

#stackCon-fourimages-serviceorreferral #container_stackCon-fourimages-serviceorreferral div.stack-container-photo {
  overflow: visible;
  height: 131px;
  width: 540px;
  padding: 0px;
}

#stackCon-fourimages-serviceorreferral #container_stackCon-fourimages-serviceorreferral div.stack-container-list {
  height: 131px;
  overflow: visible;
}

#controller_stackCon-fourimages-serviceorreferral span span span {
  border: none;
  padding: 0px;
}

#controller_stackCon-fourimages-serviceorreferral span.dijitChecked #controller_stackCon-fourimages-serviceorreferral_title_1 {
  background-image: url('../../Images/toggle_photo_nor.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-fourimages-serviceorreferral span #controller_stackCon-fourimages-serviceorreferral_title_1 {
  background-image: url('../../Images/toggle_photo_nor.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-fourimages-serviceorreferral span.dijitChecked #controller_stackCon-fourimages-serviceorreferral_title_2{
  background-image: url('../../Images/toggle_list_nor.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#controller_stackCon-fourimages-serviceorreferral span #controller_stackCon-fourimages-serviceorreferral_title_2{
  background-image: url('../../Images/toggle_list_nor.png');
  background-repeat: no-repeat;
  background-color: white;
  font-size: 0px;
  border: 0px;
  height: 21px;
  width: 21px;
  border-style: none;
}

#container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default .prev-button-div {  
  margin-left: 3px;
} 

#container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default .rotator {  
  width: 92%;
  overflow: hidden;
  float: left;
} 

#container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default .rotator-buttons-disabled {  
  width: 94%;
  overflow: hidden;
  float: left;
} 
 
#container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default { 
  height:131px !important;
  width: 540px;
}
 
#container_stackCon-fourimages-serviceorreferral .stack-container-photo .rotator-default .rotator div.pane div.pane-item{
   float: left;
   padding-left: 9px;
   position: relative;
   width: 113px;
}

#container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list {
  left: 28px;
  position: absolute;
  width: 89%;
}

#container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list div.table-list {
  max-height: 105px !important;
}

#container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list table.list-body th.table-header {
  padding-bottom: 0px;
  border: none;
}

#container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list div {
  zoom:normal;
}

#container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list .person-name-icons .person-name {
  float: left;
  padding-right: 5px;
  padding-top: 3px;
}
#container_stackCon-fourimages-serviceorreferral .stack-container-list .tab-case-list .person-name-icons .list-icon {
  float: left;
  padding-right: 3px;
  padding-top: 2px !important;
}

 /* End of styling for four image stack container  */