/*______________________________________________________________________________
 * Announcements_highcontrast.css
 *
 * Create styles that are applied to the HTML produce by the
 * AnnouncementsRenderer.
 */


.high-contrast .announcements{
  background: url("../../Images/highcontrast/announcement_mid.png") repeat-x;
}

.high-contrast .announcement-text, .high-contrast .announcement-text a{
  color: #000000;
}

.high-contrast .announcements .controls{
  background: url("../../Images/highcontrast/announcement_mid.png") repeat-x;
}

.high-contrast .announcements .pause{
  background: url("../../Images/highcontrast/button_pause_nor.png") no-repeat  3px 3px;
}
.high-contrast .announcements .pause-roll-over{
  background: url("../../Images/highcontrast/button_pause_rol.png") no-repeat 3px 3px;
}

.high-contrast .announcements .pause-select{
  background: url("../../Images/highcontrast/button_pause_sel.png") no-repeat 3px 3px;
}
.high-contrast .announcements .play{
  background: url("../../Images/highcontrast/button_play_nor.png") no-repeat 3px 3px;
}
.high-contrast .announcements .play-select{
  background: url("../../Images/highcontrast/button_play_sel.png") no-repeat 3px 3px;
}
.high-contrast .announcements .play-roll-over{
  background: url("../../Images/highcontrast/button_play_rol.png") no-repeat 3px 3px;
}

.high-contrast .announcements .last{
  background: url("../../Images/highcontrast/button_previous_nor.png") no-repeat 3px 3px;
}
.high-contrast .announcements .last-roll-over{
  background: url("../../Images/highcontrast/button_previous_rol.png") no-repeat 3px 3px;
}
.high-contrast .announcements .last-select{
  background: url("../../Images/highcontrast/button_previous_sel.png") no-repeat 3px 3px;
}

.high-contrast .announcements .next{
  background: url("../../Images/highcontrast/button_next_nor.png") no-repeat 3px 3px;
}
.high-contrast .announcements .next-roll-over{
  background: url("../../Images/highcontrast/button_next_rol.png") no-repeat 3px 3px;
}
.high-contrast .announcements .next-select{
  background: url("../../Images/highcontrast/button_next_sel.png") no-repeat 3px 3px;
}
.high-contrast .announcements .ctrl-right{
  background: url("../../Images/highcontrast/control_right.png") no-repeat;
}

/* END Announcements_highcontrast.css
 ______________________________________________________________________________*/