/*______________________________________________________________________________
 * BiWeeklyRenderer_highcontrast.css
 */

.high-contrast .narbar-back-panel {
 background: url("../../Images/biweeklycal/highcontrast/days_background.png") repeat-x scroll 0 0 transparent;
}

.high-contrast .week-tabs {
  background: url("../../Images/biweeklycal/highcontrast/bar_inbetween_tabs.png") repeat-x scroll 0 0 transparent;
}

.high-contrast .week-tab.bwc-current .left-edge {
  background: url("../../Images/biweeklycal/highcontrast/tab_desel_left_corner.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-current .center {
  background: url("../../Images/biweeklycal/highcontrast/tab_desel_middle.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-current .tab-slope {
  background: url("../../Images/biweeklycal/highcontrast/tab_desel_left_slope.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-selected.bwc-current .left-edge{
  background: url("../../Images/biweeklycal/highcontrast/tab_sel_left_corner.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-selected.bwc-current .center{
  background: url("../../Images/biweeklycal/highcontrast/tab_sel_middle.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-selected.bwc-current .tab-slope{
  background: url("../../Images/biweeklycal/highcontrast/tab_sel_left_slope.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-next .tab-slope {
  background: url("../../Images/biweeklycal/highcontrast/tab_desel_right_slope.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-next .center{
  background: url("../../Images/biweeklycal/highcontrast/tab_desel_middle.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-next .right-edge{
  background: url("../../Images/biweeklycal/highcontrast/tab_desel_right_corner.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-next.bwc-selected .tab-slope {
  background: url("../../Images/biweeklycal/highcontrast/tab_sel_right_slope.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-next.bwc-selected .center{
  background: url("../../Images/biweeklycal/highcontrast/tab_sel_middle.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .week-tab.bwc-next.bwc-selected .right-edge{
  background: url("../../Images/biweeklycal/highcontrast/tab_sel_right_corner.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .navbar-left {
 background: url("../../Images/biweeklycal/highcontrast/days_left_side.png") repeat-x scroll 0 0 transparent;
}
.high-contrast .navbar-right {
 background: url("../../Images/biweeklycal/highcontrast/days_right_side.png") repeat-x scroll 0 0 transparent;
}
.day-table {
  height:36px;
}
.high-contrast .day-button, .day-button a {
 color:#000000;
}
.high-contrast .day-button.bwc-today {
 background: url("../../Images/biweeklycal/highcontrast/day_current_no_event.png") no-repeat  center center;
}
.high-contrast .day-button.bwc-today.hasEvent {
 background: url("../../Images/biweeklycal/highcontrast/day_current_with_event.png") no-repeat  center center;
}
.high-contrast .day-button.hasEvent.mouseover {
 background: url("../../Images/biweeklycal/highcontrast/day_rollover_with_event.png") no-repeat center center;
}
.high-contrast .day-button.hasEvent {
 background: url("../../Images/biweeklycal/highcontrast/day_with_event.png") no-repeat  center center;
}
.high-contrast .day-button.mouseover {
 background: url("../../Images/biweeklycal/highcontrast/day_rollover_no_event.png") no-repeat center center;
}
.high-contrast .day-button.bwc-selected {
 background: url("../../Images/biweeklycal/highcontrast/day_sel_no_event.png") no-repeat  center center;
}
.high-contrast .day-button.hasEvent.bwc-selected {
 background: url("../../Images/biweeklycal/highcontrast/day_sel_with_event.png") no-repeat  center center;
}
.high-contrast .date-string .date-display {
 color:#000000;
 background-color:#FFFFFF;
 border-left: 1px solid #636163;
 border-right: 1px solid #636163;
}
.high-contrast .all-events{
  background-color:#FFFFFF;
  color:#10486B;
  border-left: 1px solid #636163;
  border-right: 1px solid #636163;
}
.high-contrast .events-table{
  background-color:#FFFFFF;
}
.high-contrast .events-table.bwc-selected{
  display: table;
}
.high-contrast .bwc-event .time{
  border-bottom: 1px solid #D6DFDA;
}
.high-contrast .bwc-event .icon{
 border-bottom: 1px solid #D6DFDA;
}
.high-contrast .bwc-event .text {
  border-bottom: 1px solid #D6DFDA;
}
.high-contrast .text a.event-link {
  color:#10486B;
}
.high-contrast .events-bottom {
  background-color:#FFFFFF;
}
.high-contrast .events-bottom.left {
  background: url("../../Images/biweeklycal/highcontrast/corner_list_left.png") no-repeat scroll left top transparent;
}
.high-contrast .events-bottom .center {
  background-color:#FFFFFF;
  border-bottom: 1px solid #636163;
}
.high-contrast .events-bottom .right {
  background: url("../../Images/biweeklycal/highcontrast/corner_list_right.png") no-repeat scroll left top #E2E7ED;
}
/* End BiWeeklyRenderer.css 
_________________________________________________________________________________*/