/*______________________________________________________________________________
 * ButtonLinkRenderer_highcontrast.css
 */
.high-contrast .button-link .actioncontrol-button-left {
  background: url("../../Images/highcontrast/new_left_nor.png") no-repeat scroll 0 0 transparent;
}

.high-contrast .button-link.hover .actioncontrol-button-left {
  background: url("../../Images/highcontrast/new_left_roll.png") no-repeat scroll 0 0 transparent;
}


.high-contrast .button-link .actioncontrol-button-right, 
.high-contrast .button-link.hover .actioncontrol-button-right {
  background: url("../../Images/highcontrast/new_right_nor.png") no-repeat scroll right top transparent;
}

.high-contrast .button-link .actioncontrol-button-right {
  background: url("../../Images/highcontrast/new_right_nor.png") no-repeat scroll right top transparent;
}

.high-contrast .button-link.hover .actioncontrol-button-right {
  background: url("../../Images/highcontrast/new_right_roll.png") no-repeat scroll right top transparent;
}

.high-contrast .button-link .actioncontrol-button-center, 
.high-contrast .button-link.hover .actioncontrol-button-center {
  background-image: url("../../Images/highcontrast/new_mid_nor.png");
}

.high-contrast .button-link .actioncontrol-button-center {
  background-image: url("../../Images/highcontrast/new_mid_nor.png");
}

.high-contrast .button-link.hover .actioncontrol-button-center {
  background-image: url("../../Images/highcontrast/new_mid_roll.png");
}
.high-contrast .button-link a.ac {
  color: #005291;
}
.high-contrast .button-link.hover a {
  color: #FFFFFF;
}
/*
 * End ButtonLinkRenderer_highcontrast.css
 *______________________________________________________________________________*/