/*______________________________________________________________________________
 * CaseAuditHome.css
 *
 * Create styles that are applied to the HTML for the case audit tab details.
 */

div.caseaudit-container-panel {
  background-color: transparent;
  height:135px;
  overflow: hidden;
  position: relative;
  top: 5px;
  min-width: 910px;
}

.caseaudit-details {
  padding-left: 15px;
}

.caseaudit-details .caseaudit-reference,
.caseaudit-details .caseauditplan-reference {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
}

.caseaudit-details .caseauditplan-reference {
  padding-bottom: 10px;
}

.caseaudit-details .caseaudit-reference-id {
  font-size: 120%;
  font-family: tahoma;
  color: #FB7803;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
}

.audit-case-link {
  padding-bottom: 6px;
  font-size: 103%;
}

.caseaudit-details-table,
.caseaudit-details-table2 {
  float: left;
}

.caseaudit-details-table {
  margin-right: 50px;
}

.caseaudit-details-table table td,
.caseaudit-details-table2 table td {
  padding-left: 30px !important;
}

.caseaudit-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 10px;
  right: 360px;
  top: 0;
  z-index: 0;
  min-width: 450px;
}

.caseaudit-tab-details {
  height: 125px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

.caseaudit-extradetails-content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #E6EBF1;
}

.caseaudit-tab-details .caseaudit-extradetails-content {
  position: absolute;
  bottom: 1px;
  left: 1px;
  width: 100%;
  background-color: #E6EBF1;
}

.caseaudit-focusareas-content-detail,
.caseaudit-extradetails-content-detail {
  padding-left: 10px;
}

.caseaudit-extradetails-content-detail {
  margin-top: 2px;
}

.caseaudit-timelimit-table table {
  float: left;
}

.caseaudit-timelimit-table table td {
  padding-bottom: 0px !important;
  color: #696969;
}

div.caseaudit-timelimit-table table {
  margin-left: 5px;
  margin-top: 2px;
}

.caseaudit-extradetails-content .content {
  padding-left: 11px;
}

div.caseaudit-tab-details .caseaudit-extradetails-content img {
  padding: 0px;
  float: left;
}


h3.focus-area-title {
  background: url(../../Images/icon_focus_area.png) no-repeat top left white;
  padding-left: 25px;
  height: 20px;
  border-bottom: 1px solid #DFDFDF;
  width: 85%;
  padding-top: 2px;
}

div.caseaudit-caseowner-table  {
  float: left;
  overflow: hidden;
  white-space: nowrap;
  width: 35%;
  margin-top: 3px;
  padding-left: 3px;
}

div.audit-owner-image img {
  margin-top: 2px;
}

div.caseaudit-timelimit-table  {
  overflow: hidden;
  white-space: nowrap;
}


.caseaudit-tab-details div.watermark {
  color:gainsboro;
  font-size:500%;
  z-index: -1;
  position:absolute;
  top: 30px;
  left: 130px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: #ffffff;
}

.caseaudit-report-content-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 340px;
}

.caseaudit-report-details {
  height: 125px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.caseaudit-chart-content-panel {
  height: 100px;
}

div.caseaudit-extradetails-content-detail div.schedule-detail {
    float: left;
    padding-left: 4px;
    margin-top: 2px;
}

.no-chart-text {
  padding-top: 5px;
  padding-left: 10px;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .caseaudit-tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .caseaudit-report-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .caseaudit-details .caseaudit-reference,
.high-contrast .caseaudit-details .caseauditplan-reference {
  color: #a22d0b;
}

.high-contrast .caseaudit-details .caseaudit-reference-id {
  color: #a22d0b;
}

.high-contrast .caseaudit-tab-details .caseaudit-extradetails-content {
  border-top: 1px solid #575757;
  background-color: #ffffff;
}

.high-contrast h3.focus-area-title {
  background: url(../../Images/highcontrast/icon_focus_area.png) no-repeat top left white;
  border-bottom: 1px solid #575757;
}

.high-contrast .caseaudit-timelimit-table table td {
  color: #575757;
}

/*______________________________________________________________________________
 * end CaseAuditHome.css
 */