/*______________________________________________________________________________
 * Incident_rtl.css
 *
 * Create styles that are applied to the HTML for the incident tab details.
 */


.rtl .reported-by-table table {
  float: right;
}

.rtl .incident-details-table table td {
  padding-left: 0 !important;
  padding-right: 15px !important;
}

.rtl .reported-by-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .incident-details  .incident-opened-date {
  float: right;
}

.rtl .incident-details  .incident-opened-by {
  float: right;
  padding-left: 0;
  padding-right: 3px;
}

.rtl .incident-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .reported-details {
  float: left;
  padding-left: 0;
  padding-right: 10px;
  margin-right: 0;
  margin-left: 10px;
}

.rtl .reported-by {
  float: right;
  padding-right: 0;
  padding-left: 3px;
}

.rtl .reported-by-person {
  float: right;
  padding-right: 0;
  padding-left: 3px;
}

.rtl .reported-by-date {
  float:right;
  clear: left;
}

.rtl .reported-by-address {
  clear: right;
}

.rtl .reported-details  .phonenumber {
  float: right;
  padding-right: 0;
  padding-left: 52px;
}

.rtl .reported-details  .email {
  float: right;
}

.rtl .reported-details .reported-by-phone {
  float: right;
  clear: right;
  padding-right: 0;
  padding-left: 10px;
  margin-left: 0;
  margin-right: -2px;
}

.rtl .reported-details .reported-by-phone > img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .reported-details .reported-by-email {
  float: right;
  padding-right: 0;
  padding-left: 10px;
}

.rtl .reported-details .reported-by-email > img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .incident-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .incident-contact-content .content {
  padding-left: 0;
  padding-right: 11px;
}

/*______________________________________________________________________________
 * end Incident_rtl.css
 */
