/*______________________________________________________________________________
 * IntegratedCase.css
 *
 * Create styles that are applied to the HTML for the integrated case tab details.
 */

div.container-panel-ic {
  background: transparent;
  height: 150px;
  overflow: visible;
  min-width: 977px;
  position: relative;
}

div.container-panel-ic div.content-panel-detail {
  background: transparent;
  padding: 0;
  bottom: auto !important;
  height: auto !important;
  overflow: visible;
  font-family: tahoma;
}

div.ic-links-panel,
div.ic-links-panel-one-casemem {
  position: absolute;
  top: 0px;
  width: 345px;
  right: 10px;
}

/*
* CR00397192
*/
div.ic-links-panel .tab-links .left-col .link-wrapper{
  width:95%;
}

div.ic-links-panel .tab-links .left-col{
  width:95%;
}
/*
* END CR00397192
*/

div.ic-links-panel {
  padding-top: 7px !important;
}

div.ic-single-member {
  top: 7px !important;
}

div.ic-case-owner-panel {
  width: 100%;
  background-color: #FFFFFF;
  float: left;
  height: 18px;
  padding-top: 4px;
}

div.ic-case-owner-icon {
  padding-left: 11px;
  padding-right: 4px;
}

div.ic-case-owner,
div.ic-case-owner-icon {
  float: left;
}

div.ic-links-panel div.tab-links div.ic-link div.link-icon {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

div.ic-links-panel div.tab-links div.ic-link div.link-text {
  float: left;
  padding-top: 5px;
}

.ic-links-panel .left-col .link-wrapper {
  width: 170px;
}

.ic-links-panel .inner-col .link-wrapper {
  width: 142px;
}

div.container-panel-ic div.content-panel-detail a {
  color: #376F8F;
  text-decoration: none;
}

div.container-panel-ic div.content-panel-detail a:hover {
  text-decoration: underline;
}

div.ic-case-status {
  width: 100%;
  background-color: #FFFFFF;
  height: 18px;
}

div.ic-status {
  padding-left: 13px;
}

.tab-case-list div.dijitContentPane {
  padding: 0px !important;
}

.ic-links-panel .inner-col {
  padding-right: 0px;
}

.tab-case-list a {
  text-decoration: none;
  color:#376F8F;
}

.tab-case-list a:hover {
  text-decoration: underline;
}

.displaying-num-of {
  background-color:#EBEBEB;
  color:#376F8F;
  font-family:tahoma;
  font-size:85%;
  padding-bottom:5px;
  padding-left:4px;
  text-align:left;
  display: inline;
}

div.list-icon {

  float: left;
  padding-right: 5px;
  padding-top: 4px;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .container-panel-ic .ic-links-panel .tab-links .ic-case-status {
  border-bottom: 1px solid #575757;
}

.high-contrast .container-panel-ic .ic-links-panel .tab-links .ic-case-owner-panel {
  border-top: 1px solid #575757;
}

.high-contrast div.container-panel-ic div.content-panel-detail a {
  color: #005291;
}

/*______________________________________________________________________________
 * end IntegratedCase.css
 */
