/*______________________________________________________________________________
 * legalactionhearing.css
 *
 * Create styles that are applied to the HTML for the legal action hearing context details.
 */

div.container-panel-legalaction {
  background: transparent;
  height: 230px;
  overflow: visible;
  min-width: 915px;
  position: relative;
}

.legalaction-hearing-details {
  height: 150px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

.legalaction-hearing-details-panel {
  position: absolute;
  left: 510px;
  right: 10px;
  top: 8px;
}

.legalaction-hearing-ref {
  font-size: 120%;
  font-family: tahoma;
  color: #FB7803;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
  white-space: nowrap;
}

.legalaction-hearing-docketnum-label {
  display: inline;
  padding-left: 15px;
  padding-right: 5px;
  white-space: nowrap;
}

.legalaction-hearing-docketnum {
  display: inline;
}

.legalaction-hearing-details-table {
  padding-left: 15px;
  padding-top: 5px;
}

.legalaction-hearing-details-table table td,
.schedule-details-table table td {
  padding-left: 40px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.legalaction-hearing-details-table table th,
.schedule-details-table table th {
  white-space: nowrap;
  word-wrap:normal;
}

.schedule-details {
  background-image: url('../../Images/details_panel_background_grey.png');
  width: 91%;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  overflow: hidden;
}

h3.schedule-title{
  height: 20px;
  white-space: nowrap;
}

.hearing-schedule-time {


}

.hearing-schedule-status {


}

/* end legalactionhearing.css */



