/*______________________________________________________________________________
 * overpayment_rtl.css
 *
 * Create styles that are applied to the HTML for the overpayment context details.
 */

.rtl .overpayment-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .overpayment-details-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .overpayment-content-panel {;
  left: 320px;
  right: 127px;
}

.rtl .overpayment-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .overpayment-chart-panel {
  right:auto;
  left:10px;
}

.rtl .overpayment-chart-detail {
  float:right;
  padding-right:0;
}

.rtl .overpayment-tab-details div.watermark {
  left: auto;
  right: 110px;
}

/*______________________________________________________________________________
 * end overpayment_rtl.css
 */