

.person-details  td.person-name {
	font-size: 125%;
	font-family: tahoma;
	color: #FB7803;
	font-weight: bold;
	padding-left:0px !important;
}

.person-details .person-id {
	font-size: 110%;
	font-family: tahoma;
	color: #FB7803;
	font-weight: bold;
	float:right;
}

.person-details  td.person-address {
	font-size: 110%;
	font-family: tahoma;
	color: #000000;
	font-weight: bold;
	padding-left:0px !important;
}

.person-details .ac {
    text-decoration: none;
    color: #3B7192;
    font-weight: bold;
    font-family: tahoma;    
}

.person-details .person-contacts {
	padding-top: 20px;
	width: 70%;
}

.person-details .person-contacts td {
	font-size: 75%;
	font-family: tahoma;
	color: #737373;
}

.person-contacts td.phone {
	width: 25%;
}

.person-details .person-contacts td.email {
	color: #3B7192;
}

.person-details .person-contacts td.icon {
	width:15px;
}

.person-details .person-age  {
display:inline;
}

.person-details .content {
position:relative;
}

.person-details div.watermark {
color:gainsboro;
font-size:5em;
left:20%;
position:absolute;
top:20%;
}

.tab-details div.testwatermark {
color:gainsboro;
font-size:500%;
position:absolute;
top: 60px;
left: 130px;

}

.tab-details .test-content-participant-id {
	font-size: 120%;
	font-family: tahoma;
	color: #FB7803;
	font-weight: bold;
        padding-bottom:2px !important;
	padding-top: 0px;
	padding-right: 15px;
	background-color: white;
	position: absolute;
	right: 0px;
	top: 10px;
	padding-left: 5px;
	z-index: 0;
}

