/*______________________________________________________________________________
 * PodBodyRenderer_rtl.css
 *
 * Create styles that are applied to the HTML produce by the PodBodyRenderer.
 */



.rtl div.pod-styling .list-body th.table-header{
  padding-left: 0;
  padding-right: 8px;
}

.rtl .filter {
  margin: 5px 9px 0px 5px;
}

.rtl .filter-content {
  float:right;
}

.rtl .filter-content .radiobutton-label {
  margin-left: 0;
  margin-right: 10px;
}

.rtl .filter-title {
  float: right;
}

.rtl div.pod-home-link {
  padding-right: 0;
  padding-left: 4px;
  text-align: left;
}

.rtl a.pod-home-link-text {
  margin-right:0;
  margin-left:5px;
}

.rtl a.pod-home-link-image {
  margin-right:0;
  margin-left:8px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .pod-body .center{
  text-align: right;
}

.rtl .soria .dojoxPortlet .dijitOpen .dojoxArrowDown {
  float:right;
  margin-left: 0;
  margin-right: 6px;
}

.rtl .soria .dojoxPortlet  .dijitClosed .dojoxArrowDown {
  float:right;
  margin-left: 0;
  margin-right: 6px;
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/*
 * iconWrapper id added to the following icon related rules to enable correct 
 * ordering of HTML for screen reader accessibility, see [CR00287888] for 
 * further details if needed.
 */
.rtl .soria .dojoxPortlet .dojoxPortletSettingsIcon,
.rtl .soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIcon,
.rtl .soria .dojoxPortlet .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover,
.rtl .soria .dojoxPortlet .iconWrapper .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.rtl .soria .dojoxPortlet .dojoxCloseNode,
.rtl .soria .iconWrapper .dojoxPortlet .dojoxCloseNode {
  margin-right: 0;
  margin-left: 6px;
}

/*
* Override Portlet.css styling rule, change float from right to left
*/
.rtl .dojoxPortlet .dijitTitlePaneTitle .iconWrapper .dojoxPortletIcon {
  float: right;
}

.rtl .dojoxPortlet .dijitTitlePaneTitle .iconWrapper {
  float: left;
}

.rtl .background .pod-list {
  float: right;
}

.rtl .num-list-items {
  margin-right: 0;
  margin-left: 5px;
  float: left;
}

.rtl .portlet-controls {
  float: left;
  margin-right:0;
  margin-left:5px;
}

.rtl .filter-button {
 float: left;
 padding-right: 0;
 padding-left: 4px;
}

.rtl .filter-button.cancel {
 padding-right: 0;
 padding-left: 10px;
}

.rtl .filter-button .podcontrol-button-right {
  margin: 0 2px 0 0;
  padding: 0 0 0 4px;

}

.rtl .filter-button .podcontrol-button-center {
  padding:1px 5px 1px 1px;
}

.rtl .pod-body table tbody tr td.body-last-cell {
  padding-right: 0;
  padding-left: 8px;
}

/* END PodBodyRender_rtl.css
 ______________________________________________________________________________*/