/*______________________________________________________________________________
 * PodBodyRenderer_highcontrast.css
 *
 * Create styles that are applied to the HTML produce by the PodBodyRenderer.
 */

.high-contrast div.pod-styling .list-body td {
  background-color: transparent;
}

.high-contrast div.pod-styling .list-body th.table-header{
  background-color: #C3DDDF;
  color: #3E3660;
}

.high-contrast .portlet-options-table td {
  background-color:#E0E3EE; /*ie6&7 do not support inherit*/
}

.soria.high-contrast div.filter-content table tr {
  background-color: #B0C0C7;
}

.soria.high-contrast div.filter-content table td {
  background-color: #B0C0C7;
}

.high-contrast .filters {
  background-color: #B0C0C7;
}

.high-contrast .filter-font{
  color:#000000;
}
.high-contrast div.pod-styling div .list-body a {
  color: #376f8f;
}


.high-contrast div.pod-home-link {
  background-color: #ffffff;
}

.high-contrast a.pod-home-link-text {
  color: #005291;
}

.high-contrast .pod-home-link.hover a.pod-home-link-text {
  color: #005291;
}

.high-contrast a.pod-home-link-image {
  background-image:url("../../Images/highcontrast/goto_button.png");
}
.high-contrast .pod-home-link.hover a.pod-home-link-image {
  background-image:url("../../Images/highcontrast/goto_button_rol.png");
}
.high-contrast a.pod-home-link-image:active {
  background-image:url("../../Images/highcontrast/goto_button_sel.png");
}
.high-contrast .pod-body {
  background-color: #e2e7ed;
}
.soria.high-contrast .dojoxPortlet .dijitTitlePaneTitle span {
  color: #ffffff;
}
.soria.high-contrast .dojoxPortlet  .dojoxPortletSettingsIcon {
  background-image:url("../../Images/highcontrast/filter_nor.png") !important;
}

.soria.high-contrast .dojoxPortlet  .dojoxPortletSettingsIcon.dojoxPortletSettingsIconHover {
  background-image:url("../../Images/highcontrast/filter_roll.png") !important;
}

.soria.high-contrast .dojoxPortlet  .dojoxPortletSettingsIcon.dojoxPortletSettingsIconSelect {
  background-image:url("../../Images/highcontrast/filter_sel.png") !important;
}

.soria.high-contrast .dojoxPortlet .dojoxCloseNode {
  background-image: url("../../Images/highcontrast/exit_nor.png") !important;
}

.soria.high-contrast .dojoxPortlet .dojoxCloseNode.dojoxCloseNodeHover {
  background-image: url("../../Images/highcontrast/exit_roll.png") !important;
}

.soria.high-contrast .dojoxPortlet .dojoxCloseNode.dojoxCloseNodeSelect {
  background-image: url("../../Images/highcontrast/exit_sel.png") !important;
}

.high-contrast .dijitTitlePane div.dijitTitlePaneTitle {
  background-image: url("../../Images/highcontrast/pod_title_default_cc.png");
  background-color: #7495CF;
}

.soria.high-contrast div.pod-styling .dijitTitlePaneContentWipeNode{
  background-color: #e2e7ed;
}
.soria.high-contrast div.roundy-pod-top .title-left {
  background-image: url("../../Images/highcontrast/pod_title_default_tl.png");
  background-color: #FFF;
}

.soria.high-contrast div.roundy-pod-top .title-center {
  background-image: url("../../Images/highcontrast/pod_title_default_tc.png");
}

.soria.high-contrast div.roundy-pod-top .title-right {
  background-image: url("../../Images/highcontrast/pod_title_default_tr.png");
  background-color: #FFF;
}

.high-contrast #PT2006_body .dijitAccordionTitle {
  background: #EFF6FF;
  border: 1px solid #E0E7EF;
}

.high-contrast #PT2006_body .dijitAccordionTitle-selected {
  background: none;
}

.high-contrast #PT2008 table.pod-list thead tr th {
  border: none;
}

.high-contrast .background {
  background-color: #ffffff;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
}
.high-contrast .pod-body .list-body {
  border-left: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
  border-top: 1px solid #FFFFFF;
}

.high-contrast .num-list-items {
  color: #000000;
}


.high-contrast .filter-button .podcontrol-button-left {
  background: url("../../Images/highcontrast/update_left_nor.png") no-repeat scroll 0 0 transparent;
}

.high-contrast .filter-button .podcontrol-button-right {
  background: url("../../Images/highcontrast/update_right_nor.png") no-repeat scroll right top transparent;
}

.high-contrast .filter-button .podcontrol-button-center {
  background-image: url("../../Images/highcontrast/update_mid_nor.png");
  background-repeat: repeat-x;
}

.high-contrast .filter-button .podcontrol-button-center {
  color: #000000;
}

.high-contrast .filter-button.hover .podcontrol-button-center {
  color: #A22D0B;
}

.high-contrast #PT2002_body table tr td {
  background-color: transparent !important;
}

.high-contrast #PT2002_body table tr td > a {
  color: #005291;
}

/* END PodBodyRender.css
 ______________________________________________________________________________*/