/*______________________________________________________________________________
 * PodContainer.css
 *
 * Create styles that are applied to the HTML produce by the PodContainerRenderer
*/

/* A white mask for the page to hide the re-draw until finished */
.pod_container_loading_mask{
 width:100%;
 height:100%;
 background:none repeat scroll 0% 0% #FFFFFF;
 position:absolute;
 z-index:2000;
 left:0pt;
 top:0pt;
}

/* Remove the standard actions from the title bars. */
body.includes-pod-container .page-header {
 display: none;
 visibility:hidden;
}

body.includes-pod-container div#content {
  top:0;
}

div.pod-container {
  vertical-align: top;
  height: 2000px; /** Forces constant vertical scroll bar. Stops container from changing size when dragging Pods below the screen. */
  padding: 0px !important;
}

.pod-container .gridContainer {
  padding: 0px !important;
  display: inline;
}

.pod-container .gridContainerTable {
  border: 0px;
  table-layout: fixed;
}

span.hidden {
  display: none;
}

.soria .dndDropIndicator {
  border: 2px dashed #99BBE8;
  cursor: default;
  margin-bottom: 5px;
}

.cluster td.gridContainerZone {
  vertical-align: top;
}

.soria .pod-container-settings-panel {
  display: inline;
}

.soria .dijitBorderContainer .pod-container-settings-panel {
  left: 0px !important;
  right: 0px !important;
  top: 0px !important;
  padding-top: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  width: 100%;
  overflow: auto;
}

div.pod-container-actions {
    height: 20px;
    padding-top: 3px;
    padding-bottom:3px;
    line-height: 35px;
    background: #f1f5fd;
}

.pod-container-actions,dijitContentPane div{
    background: #f1f5fd;
    width: 100%;
}

.pod-container-actions-right,dijitContentPane span{
    display: table;
    margin-left: auto;
}

div.customize-actions,dijitContentPane{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

div.customize-actions {
  background-color: #E6ECF4;
  height: 20px;
  text-align: center;
  margin: 0px auto;
  padding-bottom: 5px;
}

div.customize-actions div.save-button, div.cancel-button, div.reset-button {
  float:left !important;
  position: relative;
  margin-right: 10px;
}

div.pod-select-pane,  div.selection-table {
    vertical-align: top;
    background-color: #e3eaf3;
}

div.selection-table {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
}

div.selection-table > table {
  width :  100%;
  table-layout:fixed;
}

div.pod-select-pane {
  margin-bottom: 5px;
  border-color: #DAE1EC;
  border-style: solid;
  border-width: 1px 0;
}

div.pod-select-pane .save-button, div.pod-select-pane .cancel-button, div.pod-select-pane .reset-button,{
    height: 20px;
}


div.pod-select-pane .save-button .dijitInline {
    margin-right: 5px;
}

span.save-button span.dijitRight {
    float: right;
}

div.pod-select-pane .cancel-button .dijitInline {
    float: left;
}

.portlet-options-table .tableContainer-valueCell {
    background-color: #E0E3EE; /*ie6&7 do not support inherit*/
    border-bottom: 2px groove white;
    border-left: 3px solid #E0E3EE;
    border-right: 3px solid #E0E3EE;
}

.tundra .dojoxPortlet-movable .pod-body .dijitTitlePaneTitle,
.soria .dojoxPortlet-movable .pod-body .dijitTitlePaneTitle,
.nihilo .dojoxPortlet-movable .pod-body .dijitTitlePaneTitle {
    cursor: pointer;
}

.soria .cluster .pod-container-actions .dijitButtonNode {
  background: #E0E3EE !important;
}

.soria .cluster .customize-actions .dijitButtonNode {
  background: #E0E3EE !important;
}

.soria .input-cluster .pod-container-actions .dijit {
  width: auto;
}

.soria .input-cluster .customize-actions .dijit {
  width: inherit;
}

.soria .input-cluster .customize-actions .dijit .dijitReset{
  padding : 0;
  margin: 0;
}

.pod-container-actions-left {
  float: right;
  padding-right: 8px;
  }

.pod-select-pane .tableContainer-valueCell {
  background-color: transparent; /*ie6&7 do not support inherit*/
  padding-left: 112px;
  border: none;
}


.pod-container-actions .dijitButtonNode {
  margin: 0 !important;
}

.pod-container-actions .refresh.selected, .pod-container-actions .help.selected{
  margin-top: 1px;
}

.customize-button {
  padding-right: 5px;
}

.customize-button {
  float: left;
}

.customize-button .button-left{
  background: url("../../Images/customize_left_nor.png") no-repeat scroll 0 0 transparent;
}

.customize-button.hover .button-left {
  background: url("../../Images/customize_left_rol.png") no-repeat scroll 0 0 transparent;
}
/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.customize-button.selected .button-left {
  background: url("../../Images/customize_left_sel.png") no-repeat scroll 0 0 transparent;
}

.customize-button .button-left,
.customize-button.hover .button-left,
.customize-button.selected  .button-left{
  display: table;
  display: inline-block;
  float: none;
  height: 20px;
  padding: 0;
  position: relative;
  top: 0px;
  z-index: 3;
}

.customize-button.opened-console .button-right {
  background: url("../../Images/customize_right_nor_open.png") no-repeat scroll right top transparent;
}
.customize-button.opened-console.hover .button-right {
  background: url("../../Images/customize_right_rol_open.png") no-repeat scroll right top transparent;
}
.customize-button.opened-console.selected .button-right {
  background: url("../../Images/customize_right_sel_open.png") no-repeat scroll right top transparent;
}
.customize-button.closed-console .button-right {
  background: url("../../Images/customize_right_nor.png") no-repeat scroll right top transparent;
}
.customize-button.closed-console.hover .button-right {
  background: url("../../Images/customize_right_rol.png") no-repeat scroll right top transparent;
}
.customize-button.closed-console.selected .button-right {
  background: url("../../Images/customize_right_sel.png") no-repeat scroll right top transparent;
}


/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.customize-button.selected .button-right {
  background: url("../../Images/customize_right_sel.png") no-repeat scroll right top transparent;
}

.customize-button .button-right,
.customize-button.hover .button-right,
.customize-button.selected .button-right{
  display: inline-block;
  height: 20px;
  margin: 0 0 0 2px;
  padding: 0 4px 0 0;
  position: relative;
}

.customize-button .button-center {
  color: #368FAF;
  background-image: url("../../Images/customize_mid_nor.png");
}

.customize-button.hover .button-center {
  color: #fa8d0e;
  background-image: url("../../Images/customize_mid_rol.png");
}

/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.customize-button.selected .button-center {
  color: #368FAF;
  background-image: url("../../Images/customize_mid_sel.png");
}


.customize-button .button-center,
.customize-button.hover .button-center,
.customize-button.selected .button-center {
  background-repeat: repeat-x;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  padding:1px 4px 1px 5px;
  margin-right: 7px;
  position: relative;
  cursor: pointer;
}

.save-button .button-left, .cancel-button .button-left, .reset-button .button-left {
  background: url("../../Images/update_left_nor.png") no-repeat scroll 0 0 transparent;
  display: table;
  display: inline-block;
  float: none;
  height: 20px;
  padding: 0;
  position: relative;
  margin-right: 5px;
  top: 1px;
  z-index: 3;
}

.save-button.selected .button-left, .cancel-button.selected .button-left, .reset-button.selected .button-left {
  background: url("../../Images/update_left_sel.png") no-repeat scroll 0 0 transparent;
}

.save-button .button-right, .cancel-button .button-right, .reset-button .button-right {
  background: url("../../Images/update_right_nor.png") no-repeat scroll right top transparent;
  display: inline-block;
  height: 20px;
  margin: 0 0 0 2px;
  padding: 0 4px 0 0;
  position: relative;

}

.save-button.selected .button-right, .cancel-button.selected .button-right, .reset-button.selected .button-right {
  background: url("../../Images/update_right_sel.png") no-repeat scroll right top transparent;
}

.save-button .button-center, .cancel-button .button-center, .reset-button .button-center {
  background-image: url("../../Images/update_mid_nor.png");
  background-repeat: repeat-x;
  display: inline-block;
  font-weight: bold;
  height: 20px;
  padding: 1px 5px;
  position: relative;
  cursor: pointer;
}

.save-button.selected .button-center, .cancel-button.selected .button-center, .reset-button.selected .button-center {
  background-image: url("../../Images/update_mid_sel.png");
}

.save-button .button-center, .cancel-button .button-center, .reset-button .button-center {
  color: #57595B;
}

.save-button.hover .button-center, .cancel-button.hover .button-center, .reset-button.hover .button-center {
  color: #F39002;
}

/* END PodContainer.css
 ______________________________________________________________________________*/