/*______________________________________________________________________________
 * PodContainer_highcontrast_rtl.css
 *
 * Create styles that are applied to the HTML produce by the PodContainerRenderer
*/


.rtl .high-contrast .customize-button .button-left{
  background: url("../../Images/highcontrast/customize_left_nor_rtl.png") no-repeat scroll right top transparent;
}
.rtl .high-contrast .customize-button.hover .button-left {
  background: url("../../Images/highcontrast/customize_left_rol_rtl.png") no-repeat scroll right top transparent;
}
/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.rtl .high-contrast .customize-button.selected .button-left {
  background: url("../../Images/highcontrast/customize_left_sel_rtl.png") no-repeat scroll right top transparent;
}

.rtl .high-contrast .customize-button.opened-console .button-right {
  background: url("../../Images/highcontrast/customize_right_nor_open_rtl.png") no-repeat scroll left top transparent;
}
.rtl .high-contrast .customize-button.opened-console.hover .button-right {
  background: url("../../Images/highcontrast/customize_right_rol_open_rtl.png") no-repeat scroll left top transparent;
}
.rtl .high-contrast .customize-button.opened-console.selected .button-right {
  background: url("../../Images/highcontrast/customize_right_sel_open_rtl.png") no-repeat scroll left top transparent;
}
.rtl .high-contrast .customize-button.closed-console .button-right {
  background: url("../../Images/highcontrast/customize_right_nor_rtl.png") no-repeat scroll left top transparent;
}
.rtl .high-contrast .customize-button.closed-console.hover .button-right {
  background: url("../../Images/highcontrast/customize_right_rol_rtl.png") no-repeat scroll left top transparent;
}
.rtl .high-contrast .customize-button.closed-console.selected .button-right {
  background: url("../../Images/highcontrast/customize_right_sel_rtl.png") no-repeat scroll left top transparent;
}

/* END PodContainer_rtl.css
 ______________________________________________________________________________*/