/*______________________________________________________________________________
 * productdelivery.css
 *
 * Create styles that are applied to the HTML for product delivery context details.
 */

div.pd-container-panel {
  background-color: transparent;
  height:148px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 870px;
  width: 100%;
}

div.pd-container-panel .case-participant-panel .wrapper .image-panel-content {
  height:131px;
}

div.pd-container-panel .case-participant-panel .wrapper .image-panel-content .image-first-line {
  padding-top: 5px !important;
}

.pd-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 127px;
  right: 377px;
  top: 0;
}

.pd-links-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 358px;
}

.pd-content-panel-onecol {
  background-color: #FFFFFF;
  position: absolute;
  left: 127px;
  right: 235px;
  top: 0;
}

.pd-links-panel-onecol {
  position: absolute;
  right: 10px;
  top: 0;
  width: 215px;
}

.pd-details {
  float: left;
  height: 138px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  width: 100%;
  overflow: hidden;
}

.pd-related-ic-case {
  padding-left: 15px;
  font-size: 103%;
}

.pd-details-table {
  padding-left: 15px;
}

.pd-details-table table td {
  padding-left: 30px !important;
  white-space: nowrap;
  word-wrap:normal;
}

.pd-details-table table th {
  white-space: nowrap;
  word-wrap:normal;
}

.pd-details .pd-reference {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
  padding-bottom: 2px;
}

.pd-reference-id {
  font-size: 120%;
  font-family: tahoma;
  color: #FB7803;
  padding-bottom:0px;
  padding-top: 0px;
  padding-right: 15px;
  background-color: white;
  position: absolute;
  right: 0px;
  top: 5px;
  padding-left: 5px;
}

.pd-details .started {
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
}

.pd-details .certified {
  width:100%;
  padding-bottom: 6px;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
}

.decision-content {
  position: absolute;
  bottom: 3px;
  width: 100%;
  background-color: #E6EBF1;
}

.next-review-label {
  float: left;
  padding-right: 10px;
  padding-top: 3px;
  padding-left: 5px;
  color: #696969;
}

.next-review {
  float: left;
  padding-top: 3px;
}

div.pd-details .decision-content img {
  padding-left: 11px;
  padding-top: 1px;
  float: left;
}

div.details-tab-cluster div.pd-links-panel {
  width: 20%;
}

.pd-links-panel .left-col .link-wrapper {
  width:170px;
}

div.pd-case-owner-panel {
  width: 100%;
  background-color: #FFFFFF;
  height: 17px;
  padding-top: 4px;
  position: absolute;
  bottom: 3px;
  left: 1px;
}

div.pd-case-owner-icon {
  padding-left: 10px;
  padding-right: 4px;
}

div.pd-case-owner,
div.pd-case-owner-icon {
  float: left;
}

div.pd-case-status {
  width: 100%;
  background-color: #FFFFFF;
  height: 17px;
}

div.pd-status {
  padding-left: 12px;
}

.next-review-table table {
  float: left;
}

.next-review-table table td {
  padding-bottom: 0px !important;
  white-space: nowrap;
  word-wrap: normal;
}

.legalaction-petition-details-table table th {
  white-space: nowrap;
  word-wrap: normal;
}

div.next-review-table table {
  margin-left: 5px;
  margin-top: 3px;
  margin-right: 15px;
}

div.next-review-table  {
  float: left;
  overflow: hidden;
  white-space: nowrap;
}

/*
* CR00397192
*/
.pd-links-panel-onecol .tab-links .left-col .link-wrapper{
  width:95%;
}
.pd-links-panel-onecol .tab-links .left-col{
  width:95%;
}
/*
* END CR00397192
*/

.pd-links-panel .tab-links,
.pd-links-panel-onecol .tab-links {
  height: 138px;
}

.pd-links-panel .tab-links .left-col,
.pd-links-panel .tab-links .inner-col,
.pd-links-panel-onecol .tab-links .left-col,
.pd-links-panel-onecol .tab-links .inner-col {
  padding-bottom: 5px;
  padding-top: 8px;
}


/*__________________ high contrast styling _____________________*/

.high-contrast .pd-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .pd-details .pd-reference {
  color: #a22d0b;
}

.high-contrast .pd-reference-id {
  color: #a22d0b;
}

.high-contrast .decision-content {
  border-top: 1px solid #575757;
  background-color: #ffffff;
}

.high-contrast div.pd-case-status {
  border-bottom: 1px solid #575757;
}

.high-contrast div.pd-case-owner-panel {
  border-top: 1px solid #575757;
}

.high-contrast .next-review-label {
  color: #575757;
}

/*______________________________________________________________________________
 * end productdelivery.css
 */
