/*______________________________________________________________________________
 * BiWeeklyRenderer.css
 */
.weekly-calendar{
 position:relative;
 padding-top:5px;
 text-overflow:ellipsis;
 white-space:no-wrap;
 overflow-x:hidden;
 width:100%;
 cursor:auto;
}

.narbar-back-panel {
 height:36px;
 background: url("../../Images/biweeklycal/days_background.png") repeat-x scroll 0 0 transparent;
}

.week-tabs {
  background: url("../../Images/biweeklycal/bar_inbetween_tabs.png") repeat-x scroll 0 0 transparent;
  height:24px;
}
.week-tab.bwc-current {
  cursor:pointer;
  float:left;
  height:24px;
}

.week-tab.bwc-selected.bwc-current {
  cursor:normal;
}
.week-tab.bwc-current .left-edge {
  float:left;
  background: url("../../Images/biweeklycal/tab_desel_left_corner.png") repeat-x scroll 0 0 transparent;
  height:24px;
  width:5px;
}
.week-tab.bwc-current .center {
  float:left;
  height:20px;
  padding-left: 10px;
  padding-top:5px;
  background: url("../../Images/biweeklycal/tab_desel_middle.png") repeat-x scroll 0 0 transparent;
}
.week-tab.bwc-current .tab-slope {
  background: url("../../Images/biweeklycal/tab_desel_left_slope.png") repeat-x scroll 0 0 transparent;
  height:24px;
  width:43px;
  float:left;
}
.week-tab.bwc-selected.bwc-current .left-edge{
  background: url("../../Images/biweeklycal/tab_sel_left_corner.png") repeat-x scroll 0 0 transparent;
}
.week-tab.bwc-selected.bwc-current .center{
  background: url("../../Images/biweeklycal/tab_sel_middle.png") repeat-x scroll 0 0 transparent;
}
.week-tab.bwc-selected.bwc-current .tab-slope{
  background: url("../../Images/biweeklycal/tab_sel_left_slope.png") repeat-x scroll 0 0 transparent;
}
.week-tab.bwc-next {
  cursor:pointer;
  float:right;
}
.week-tab.bwc-next.bwc-selected {
  cursor:normal;
}

.week-tab.bwc-next .tab-slope {
  background: url("../../Images/biweeklycal/tab_desel_right_slope.png") repeat-x scroll 0 0 transparent;
  height:24px;
  width:43px;
  float:right;
}

.week-tab.bwc-next .center{
  float:right;
  background: url("../../Images/biweeklycal/tab_desel_middle.png") repeat-x scroll 0 0 transparent;
  height:20px;
  padding-right: 10px;
  padding-top:5px;
}

.week-tab.bwc-next .right-edge{
  float:right;
  background: url("../../Images/biweeklycal/tab_desel_right_corner.png") repeat-x scroll 0 0 transparent;
  height:24px;
  width:5px;
}

.week-tab.bwc-next.bwc-selected .tab-slope {
  background: url("../../Images/biweeklycal/tab_sel_right_slope.png") repeat-x scroll 0 0 transparent;
  font-family:tahoma;
}

.week-tab.bwc-next.bwc-selected .center{
  background: url("../../Images/biweeklycal/tab_sel_middle.png") repeat-x scroll 0 0 transparent;
}

.week-tab.bwc-next.bwc-selected .right-edge{
  background: url("../../Images/biweeklycal/tab_sel_right_corner.png") repeat-x scroll 0 0 transparent;
}


.navbar-left {
 float:left;
 position:relative;
 width:2px;
 height:35px;
 background: url("../../Images/biweeklycal/days_left_side.png") repeat-x scroll 0 0 transparent;
}
.navbar {
 width:98%;
 float:left;
}
.navbar-right {
 float:right;
 width:2px;
 height:35px;
 background: url("../../Images/biweeklycal/days_right_side.png") repeat-x scroll 0 0 transparent;
}
.weeks {
 float:left;
 overflow:hidden;
 height:36px;
 width:99%;
}
.weeks .week-days{
 width:100%;
}
.weeks .week-days.bwc-current{
 display:none;
}
.weeks .week-days.bwc-current.bwc-selected{
 display:block;
}

.weeks .week-days.bwc-next{
 display:none;
}
.weeks .week-days.bwc-next.bwc-selected{
 display:block;
}
table>tbody.table-body{
  width:100%;
}
table.day-table, tr.day-row {
  width:100%;
  height:36px;
}
.day-button, .day-button a {
 color:#000000;
 text-align:center;
 text-decoration:none;
 text-indent:0px;
 width:13%;
 cursor:pointer;
}
.day-button.bwc-today {
 background: url("../../Images/biweeklycal/day_current_no_event.png") no-repeat  center center;
}
.day-button.bwc-today.hasEvent {
 background: url("../../Images/biweeklycal/day_current_with_event.png") no-repeat  center center;
}
.day-button.hasEvent.mouseover {
 background: url("../../Images/biweeklycal/day_rollover_with_event.png") no-repeat center center;
}
.day-button.hasEvent {
 background: url("../../Images/biweeklycal/day_with_event.png") no-repeat  center center;
}
.day-button.mouseover {
 background: url("../../Images/biweeklycal/day_rollover_no_event.png") no-repeat center center;
}
.day-button.bwc-selected {
 background: url("../../Images/biweeklycal/day_sel_no_event.png") no-repeat  center center;
}
.day-button.hasEvent.bwc-selected {
 background: url("../../Images/biweeklycal/day_sel_with_event.png") no-repeat  center center;
}

.date-string .date-display {
 display: none;
 color:#000000;
 padding-left: 5px;
 padding-top: 5px;
 padding-bottom: 10px;
 background-color:#FFFFFF;
 border-left: 1px solid #dee5ed;
 border-right: 1px solid #dee5ed;
}
.date-string .date-display.bwc-selected {
 display:block;
}

.all-events{
  background-color:#FFFFFF;
  color:#10486B;
  border-left: 1px solid #dee5ed;
  border-right: 1px solid #dee5ed;
  padding-left:5px;
  padding-right:5px;

}
.dates-stack {
  position:inherit;
  width:100%;
}
.events-table{
  display:none;
  background-color:#FFFFFF;
  width:100%;
  border-collapse : collapse;
}
.events-table.bwc-selected > thead {
  color:white;
  height:0;
  font-size:1pt;
}
.events-table.bwc-selected{
  display: table;
}

.events-table.bwc-selected > tbody {
  display: block;
  display: table-row-group; 
}
.events-table.bwc-selected > tbody > tr{
  display: block;
  display: table-row;
} 
.events-table.bwc-selected > tbody > tr > td {
  display: block;
  display: table-cell;
}
.bwc-event{
  width: 100%;
  font-weight: normal;
}
.events-table.empty .bwc-event{
  height: 26px;
}
.bwc-event.last .text,.bwc-event.last .icon,.bwc-event.last .time {
  border-bottom: 0px;
}
.bwc-event .time{
  width:66px;
  vertical-align:top;
  border-bottom: 1px solid #D6DFDA;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bwc-event .icon{
 width:20px;
 vertical-align:top;
 padding-left:4px;
 padding-right:0px;
 padding-top: 5px;
 padding-bottom: 0x;
 border-bottom: 1px solid #D6DFDA;
}

.bwc-event .text {
  white-space:normal;
  vertical-align:top;
  border-bottom: 1px solid #D6DFDA;
  padding-left:4px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.text a.event-link {
  text-decoration:none;
  color:#10486B;
}
.text a.event-link:hover {
  text-decoration:underline;
  cursor: pointer;
}
.events-table.empty .bwc-event {
  height: 26px;
}
.events-bottom {
  height:6px;
  background-color:#FFFFFF;
  position:inherit;
  width:100%;
}
.events-bottom.left {
  background: url("../../Images/biweeklycal/corner_list_left.png") no-repeat scroll left top transparent;
}
.events-bottom .center {
  width:99%;
  background-color:#FFFFFF;
  float:right;
}
.events-bottom .right {
  background: url("../../Images/biweeklycal/corner_list_right.png") no-repeat scroll left top #E2E7ED;
  float:right;
  width:6px;
  height:6px;
}
/* End BiWeeklyRenderer.css 
_________________________________________________________________________________*/