/*______________________________________________________________________________
 * employer-tab-details_rtl.css
 *
 * Create styles that are applied to the HTML to produce Employer details tab.
 */

.rtl .tab-details .employer-related-companies {
  right: auto;
  left: 15px;
  padding-left: 0;
  padding-right: 5px;
}

.rtl .tab-details .employer-content-industry {
  padding-left: 0;
  padding-right: 15px;
  clear: right;
}

.rtl div.employer-image-panel {
  left: auto;
  right: 10px;
}

.rtl div.employer-details-panel {
  left: 290px;
  right: 117px;
}

.rtl .employer-workforce-panel {
  right: auto;
  left: 10px;
}

.rtl .employer-workforce-detail  {
  float: right;
  padding-right: 0;
}

/*______________________________________________________________________________
 * end employer-tab-details_rtl.css
 */
