/*______________________________________________________________________________
 * employer-tab-details.css
 *
 * Create styles that are applied to the HTML to produce Employer details tab.
 */

div.employer-container-panel {
  background-color: transparent;
  height:120px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width:975px;
}

.tab-details .employer-related-companies {
  font-family: tahoma;
  color: #3B7192;
  right: 15px;
  top: 24px;
  position: absolute;
  background-color: white;
  padding-left: 5px;
}

.tab-details .employer-content-industry {
  font-family: tahoma;
  padding-left: 15px;
  clear: left;
}

div.employer-image-panel {
  width: 98px;
  position: absolute;
  left: 10px;
  top: 0px;
}

div.employer-details-panel {
  background-color: #ffffff;
  position: absolute;
  left: 117px;
  right: 290px;
  top: 0px;
  z-index: 0;
}

.employer-workforce-detail .birtviewer_document_fragment {
  border: none !important;
}

.employer-workforce-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 271px;
}

.employer-workforce-detail  {
  background-color: #FFFFFF;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  height: 108px;
  padding-left: 0;
  width: 100%;
}

div.employer-details-panel .content-address {
  max-width: 65%;
  text-overflow: ellipsis;

}


/*__________________ high contrast styling _____________________*/

.employer-workforce-detail  {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}


/*______________________________________________________________________________
 * end employer-tab-details.css
 */
