/*______________________________________________________________________________
 * Incident.css
 *
 * Create styles that are applied to the HTML for the incident tab details.
 */

div.incident-container-panel {
  background-color: transparent;
  height:146px;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width:900px;
}

div.incident-container-panel div.incident-content-panel {
  width: 100%
  background-color: #FFFFFF;
  padding-left: 10px;
  padding-right:10px;
}

div.incident-tab-height {
  height: 138px;
}

div.incident-content-panel div#tab-details div.content {
  padding: 0;
}

div.incident-tab-details div.incident-details div.content {
  padding: 0;
}

.incident-details .content-incident-type {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
}

.reported-by-table table {
  float: left;
}

.incident-details-table table {
  width: 100%;
}

.incident-details-table table td {
  padding-left: 15px !important;
}

.reported-by-table table td {
  padding-left: 30px !important;
}

.incident-details .incident-participants {
  padding-bottom:13px;
}

.incident-details  .incident-opened-date {
  float: left;
}

.incident-details  .incident-opened-by {
  float: left;
  padding-left: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.incident-details .incident-date {
  font-family:tahoma;
  color: black;
  display: inline;
}

.incident-details .incident-time {
  font-family:tahoma;
  color: black;
  display: inline;
}

.incident-details {
  float: left;
  width: 45%;
  padding-left: 15px;
  margin-top: 3px;
}

.reported-details {
  float: right;
  border: 1px solid #DADADA;
  background-image: url('../../Images/details_panel_background_grey.png');
  width: 420px;
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 5px;
  margin-right: 10px;
  height: 96px;
}

.reported-by {
  float: left;
  font-weight: bold;
  padding-bottom: 3px;
  padding-right: 3px;
}

.reported-by-person {
  float: left;
  font-weight: bold;
  padding-bottom: 3px;
  padding-right: 3px;
}

.reported-by-date {
  float: left;
  clear: right;
  font-weight: bold;
  padding-bottom: 3px;
}

.reported-by-address {
  padding-bottom: 10px;
  clear: left;
}

.reported-details  .phonenumber {
  float: left;
  padding-right: 52px;
  color: black;
  padding-top: 12px;
}

.reported-details  .email {
  float: left;
  color: black;
  padding-top: 12px;
}

.reported-details .reported-by-phone {
  float: left;
  clear: left;
  padding-right: 10px;
  padding-top: 10px;
  color: #696969;
  margin-left: -2px;
}

.reported-details .reported-by-email {
  float: left;
  padding-right: 10px;
  padding-top: 10px;
}

.incident-tab-details {
  height: 137px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
}

.incident-contact-content .content {
  padding-left: 11px;
}


/*__________________ high contrast styling _____________________*/

.high-contrast .incident-tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .incident-details .content-incident-type {
  color: #a22d0b;
}

.high-contrast .reported-details {
  border: 1px solid #575757;
}

.high-contrast .reported-details .reported-by-phone {
  color: #575757;
}

/*______________________________________________________________________________
 * end Incident.css
 */
