/*______________________________________________________________________________
 * IntegratedCase_rtl.css
 *
 * Create styles that are applied to the HTML for the integrated case tab details.
 */

.rtl div.ic-links-panel,
.rtl div.ic-links-panel-one-casemem {
  right: auto;
  left: 10px;
}

.rtl div.ic-case-owner-panel {
  float: right;
}

.rtl div.ic-case-owner-icon {
  padding-left: 4px;
  padding-right: 11px;
}

.rtl div.ic-case-owner,
.rtl div.ic-case-owner-icon {
  float: right;
}

.rtl div.ic-links-panel div.tab-links div.ic-link div.link-icon {
  float: right;
}

.rtl div.ic-links-panel div.tab-links div.ic-link div.link-text {
  float: right;
}

.rtl div.ic-status {
  padding-left: 0;
  padding-right: 13px;
}

.rtl .ic-links-panel .inner-col {
  padding-left: 0px;
}

.rtl .displaying-num-of {
  padding-left:0;
  padding-right:4px;
  text-align:right;
}

.rtl div.list-icon {
  float: right;
  padding-right: 0;
  padding-left: 5px;
}


/*______________________________________________________________________________
 * end IntegratedCase_rtl.css
 */
