/*______________________________________________________________________________
 * investigation.css
 *
 * Create styles that are applied to the HTML for the investigation tab details.
 */

div.investigation-container-panel {
  background-color: transparent;
  height:130px !important;
  overflow: visible;
  position: relative;
  top: 5px;
  min-width: 940px;
  width: 100%;
}

.investigation-details {
  float: left;
  width: 100%;
  padding-left: 15px;
  margin-bottom: 14px;
}

.investigation-details .investigation-reference {
  font-size: 140%;
  color: #FB7803;
  width:100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 10px;
}

.invest-details-table table td {
  padding-left: 31px !important;
}

div.investigation-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 126px;
  right: 235px;
  top: 0;
  z-index: -1;
}

.investigation-tab-details {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

div.investigation-links-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 215px;
}

div.investigation-links-panel div.investigation-username {
  background-color: #FFFFFF;
  color: #376F8F;
  text-align: center;
}

div.inv-case-owner-panel {

  width: 100%;
  background-color: #FFFFFF;
  float: left;
  height: 20px;
  padding-top: 4px;

}

div.inv-case-owner-icon {

  padding-left: 13px;
  padding-right: 4px;

}

div.inv-case-owner,
div.inv-case-owner-icon {

  float: left;

}

.investigation-links-panel .left-col .link-wrapper {
  width:200px;
}

.investigation-tab-details div.agree-with-watermark {
  color: gainsboro;
  font-size: 400%;
  z-index: -2;
  position: absolute;
  top: 10px;
  left: 104px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: #ffffff;
  line-height: 1em;
  text-align: center;
  width: 320px;
}

.investigation-tab-details div.resoluton-watermark {
  background-color: #FFFFFF;
  color: gainsboro;
  font-size: 450%;
  left: 130px;
  line-height: 1em;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 16px;
  z-index: -2;
}

.investigation-tab-details div.resoluton-date-watermark {
  background-color: #FFFFFF;
  color: gainsboro;
  font-size: 300%;
  left: 150px;
  line-height: 1em;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  top: 65px;
  z-index: -2;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .investigation-tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .investigation-details .investigation-reference {
  color: #a22d0b;
}

.high-contrast div.inv-case-owner-panel {
  border-top: 1px solid #575757;
}

/*______________________________________________________________________________
 * end investigation.css
 */