/*______________________________________________________________________________
 * investigation_rtl.css
 *
 * Create styles that are applied to the HTML for the investigation tab details.
 */

.rtl .investigation-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .invest-details-table table td {
  padding-left: 0 !important;
  padding-right: 31px !important;
}

.rtl div.investigation-content-panel {
  left: 235px;
  right: 126px;
}

.rtl .investigation-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl div.investigation-links-panel {
  right: auto;
  left: 10px;
}

.rtl div.inv-case-owner-panel {
  float: right;
}

.rtl div.inv-case-owner-icon {

  padding-left: 4px;
  padding-right: 13px;

}

.rtl div.inv-case-owner,
.rtl div.inv-case-owner-icon {

  float: right;

}

.rtl .investigation-tab-details div.agree-with-watermark {
  left: auto;
  right: 104px;
}

.rtl .investigation-tab-details div.resoluton-watermark {
  left: auto;
  right: 130px;
}

.rtl .investigation-tab-details div.resoluton-date-watermark {
  left: auto;
  right: 150px;
}

/*______________________________________________________________________________
 * end investigation_rtl.css
 */