.RemoveFieldPadding table tbody tr td.field {
 padding:0px;
}

#note-history tr.title td * {
  vertical-align:baseline;
}

#note-history .title td{
  background-color: #F1F3F8;
  vertical-align:baseline;
}


#note-history .title span.date {
  margin-left: 10px;
}

#note-history .title span.location {
  margin-left: 10px;
}

#note-history .title span.date span {
  margin-right: 10px;
}

#note-history {
  overflow-y:auto;
  overflow-x:auto;
  height:auto;
  width:auto;
}

#note-history tr.body td{
  border:0px;
}

div.SETNOTEHEIGTH {
  height:250px;
}

