/*______________________________________________________________________________
 * PodContainer_highcontrast.css
 *
 * Create styles that are applied to the HTML produce by the PodContainerRenderer
*/


.high-contrast .customize-button .button-left{
  background: url("../../Images/highcontrast/customize_left_nor.png") no-repeat scroll 0 0 transparent;
}
.high-contrast .customize-button.hover .button-left {
  background: url("../../Images/highcontrast/customize_left_rol.png") no-repeat scroll 0 0 transparent;
}
/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.high-contrast .customize-button.selected .button-left {
  background: url("../../Images/highcontrast/customize_left_sel.png") no-repeat scroll 0 0 transparent;
}

.high-contrast .customize-button.opened-console .button-right {
  background: url("../../Images/highcontrast/customize_right_nor_open.png") no-repeat scroll right top transparent;
}
.high-contrast .customize-button.opened-console.hover .button-right {
  background: url("../../Images/highcontrast/customize_right_rol_open.png") no-repeat scroll right top transparent;
}
.high-contrast .customize-button.opened-console.selected .button-right {
  background: url("../../Images/highcontrast/customize_right_sel_open.png") no-repeat scroll right top transparent;
}
.high-contrast .customize-button.closed-console .button-right {
  background: url("../../Images/highcontrast/customize_right_nor.png") no-repeat scroll right top transparent;
}
.high-contrast .customize-button.closed-console.hover .button-right {
  background: url("../../Images/highcontrast/customize_right_rol.png") no-repeat scroll right top transparent;
}
.high-contrast .customize-button.closed-console.selected .button-right {
  background: url("../../Images/highcontrast/customize_right_sel.png") no-repeat scroll right top transparent;
}


/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.high-contrast .customize-button.selected .button-right {
  background: url("../../Images/highcontrast/customize_right_sel.png") no-repeat scroll right top transparent;
}

.high-contrast .customize-button .button-center {
  color: #013A5A;
  background-image: url("../../Images/highcontrast/customize_mid_nor.png");
}

.high-contrast .customize-button.hover .button-center {
  color: #FFFFFF;
  background-image: url("../../Images/highcontrast/customize_mid_rol.png");
}

/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.high-contrast .customize-button.selected .button-center {
  color: #013A5A;
  background-image: url("../../Images/highcontrast/customize_mid_sel.png");
}

.high-contrast .save-button .button-left, 
.high-contrast .cancel-button .button-left, 
.high-contrast .reset-button .button-left {
  background: url("../../Images/highcontrast/update_left_nor.png") no-repeat scroll 0 0 transparent;
}

.high-contrast .save-button.selected .button-left, 
.high-contrast .cancel-button.selected .button-left,
.high-contrast .reset-button.selected .button-left {
  background: url("../../Images/highcontrast/update_left_sel.png") no-repeat scroll 0 0 transparent;
}

.high-contrast .save-button .button-right,
.high-contrast .cancel-button .button-right,
.high-contrast .reset-button .button-right {
  background: url("../../Images/highcontrast/update_right_nor.png") no-repeat scroll right top transparent;
}

.high-contrast .save-button.selected .button-right, 
.high-contrast .cancel-button.selected .button-right,
.high-contrast .reset-button.selected .button-right {
  background: url("../../Images/highcontrast/update_right_sel.png") no-repeat scroll right top transparent;
}

.high-contrast .save-button .button-center, 
.high-contrast .cancel-button .button-center,
.high-contrast .reset-button .button-center {
  background-image: url("../../Images/highcontrast/update_mid_nor.png");
}

.high-contrast .save-button.selected .button-center, 
.high-contrast .cancel-button.selected .button-center,
.high-contrast .reset-button.selected .button-center {
  background-image: url("../../Images/highcontrast/update_mid_sel.png");
}

.high-contrast .save-button .button-center,
.high-contrast .cancel-button .button-center,
.high-contrast .reset-button .button-center {
  color: #000000;
}

.high-contrast .save-button.hover .button-center, 
.high-contrast .cancel-button.hover .button-center, 
.high-contrast .reset-button.hover .button-center {
  color: #A22D0B;
}

/* END PodContainer.css
 ______________________________________________________________________________*/