/*______________________________________________________________________________
 * PodContainer_rtl.css
 *
 * Create styles that are applied to the HTML produce by the PodContainerRenderer
*/

/* A white mask for the page to hide the re-draw until finished */

.rtl div.selection-table {
  padding-left: 0px;
  padding-right: 10px;
}

.rtl .pod-container-actions-left {
  float: left;
  padding-right: 0px;
  padding-left: 8px;
  }

.rtl .customize-button {
  padding-right: 0px;
  padding-left: 5px;
}

.rtl .customize-button {
  float: right;
}

.rtl .customize-button .button-left{
  background: url("../../Images/customize_left_nor_rtl.png") no-repeat scroll right top transparent;
}

.rtl .customize-button.hover .button-left {
  background: url("../../Images/customize_left_rol_rtl.png") no-repeat scroll right top transparent;
}
/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.rtl .customize-button.selected .button-left {
  background: url("../../Images/customize_left_sel_rtl.png") no-repeat scroll right top transparent;
}

.rtl .customize-button.opened-console .button-right {
  background: url("../../Images/customize_right_nor_open_rtl.png") no-repeat scroll left top transparent;
}
.rtl .customize-button.opened-console.hover .button-right {
  background: url("../../Images/customize_right_rol_open_rtl.png") no-repeat scroll left top transparent;
}
.rtl .customize-button.opened-console.selected .button-right {
  background: url("../../Images/customize_right_sel_open_rtl.png") no-repeat scroll left top transparent;
}
.rtl .customize-button.closed-console .button-right {
  background: url("../../Images/customize_right_nor_rtl.png") no-repeat scroll left top transparent;
}
.rtl .customize-button.closed-console.hover .button-right {
  background: url("../../Images/customize_right_rol_rtl.png") no-repeat scroll left top transparent;
}
.rtl .customize-button.closed-console.selected .button-right {
  background: url("../../Images/customize_right_sel_rtl.png") no-repeat scroll left top transparent;
}


/* IE won't recognise :active on divs so need to use javascript to add/remove 'selected' class */
.rtl .customize-button.selected .button-right {
  background: url("../../Images/customize_right_sel_rtl.png") no-repeat scroll left top transparent;
}

.rtl .customize-button .button-right,
.rtl .customize-button.hover .button-right,
.rtl .customize-button.selected .button-right{
  margin: 0 2px 0 0;
  padding: 0 0 0 4px;
  position: relative;
}


.rtl .customize-button .button-center,
.rtl .customize-button.hover .button-center,
.rtl .customize-button.selected .button-center {
  padding:1px 5px 1px 4px;
  margin-right: 0px;
  margin-left: 7px;
}

.rtl .save-button .button-left, .rtl .cancel-button .button-left, .rtl .reset-button .button-left {
  margin-right: 0px;
  margin-left: 5px;
}

/* END PodContainer_rtl.css
 ______________________________________________________________________________*/