/*______________________________________________________________________________
 * Rotator_rtl.css
 */

.rtl .rotator-default .rotator{
  float: right;
 }

.rtl .rotator-default .prev-button-div {
  float: right;
}

.rtl .rotator-default .rotator-next-button {
  background-image: url('../../Images/arrow_scroll_left.png');
}

.rtl .rotator-default .rotator-prev-button {
  background-image: url('../../Images/arrow_scroll_right.png');
}

.rtl .rotator-default .next-button-div{
  float: right;
}

.rtl .rotator-default .rotator div.pane div.pane-item {
  float: right;
  padding-left: 0;
  padding-right: 9px;
}

/*______________________________________________________________________________
 * end Rotator_rtl.css
 */