/*______________________________________________________________________________
 * Rotator.css
 */


.rotator-default {
  background: transparent;
  height: 145px !important;
  width: 98%;
}

.rotator-default .rotator{
  width: 94%;
  height: 100%;
  overflow: hidden;
  float: left;
 }

.rotator-default .rotator .pane{
  width: 100%;
}

.rotator-default .prev-button-div {
  float: left;
  margin-top: 54px;
}

.rotator-default .rotator-next-button {
  background-image: url('../../Images/arrow_scroll_right.png');
  background-color: transparent;
  background-repeat: no-repeat;
  font-size: 0px;
  border: 0px;
  height: 19px;
  width: 18px;
  border-style: none;
}

.rotator-default .rotator-prev-button {
  background-image: url('../../Images/arrow_scroll_left.png');
  background-repeat: no-repeat;
  background-color: transparent;
  font-size: 0px;
  border: 0px;
  height: 19px;
  width: 18px;
  border-style: none;
}

.rotator-default .next-button-div{
  float: left;
  margin-top: 54px;
}

.rotator-default .rotator div.pane div.pane-item {
  float: left;
  padding-left: 9px;
  position: relative;
  width: 18%; /* based on 5 pane items per rotator pane */
}

/*__________________ high contrast styling _____________________*/

.high-contrast .rotator-default .rotator-next-button {
  background-image: url('../../Images/highcontrast/arrow_scroll_right.png');
}

.high-contrast .rotator-default .rotator-prev-button {
  background-image: url('../../Images/highcontrast/arrow_scroll_left.png');
}

/*______________________________________________________________________________
 * end Rotator.css
 */
