/*______________________________________________________________________________
 * underpayment.css
 *
 * Create styles that are applied to the HTML for the underpayment context details.
 */

div.underpay-container-panel {
  background-color: transparent;
  height:130px;
  overflow: hidden;
  position: relative;
  top: 5px;
  min-width: 940px;
}

.underpayment-details {
  float: left;
  width: 100%;
  padding-left: 15px;
}

.underpayment-details .underpayment-type {
  font-size: 140%;
  color: #FB7803;
  width: 96%;
  white-space: nowrap;
  overflow: hidden;
  padding-bottom: 2px;
}

.underpayment-related-ic-case {
  font-size: 103%;
}

.payment-details-table table {
  float: left;
}

.payment-details-table table th {
  padding-left: 5px;
}

.underpay-details-table {
  padding-top: 20px;
}

.payment-details-table table td {
  padding-left: 60px !important;
}

.underpay-details-table table td {
  padding-left: 30px !important;
}

.underpayment-details .payment-icon {
  float: left;
  margin-right: -22px;
}

.payment-details-table {
  padding-top: 10px;
}

.payment-details-table table caption {
  padding-left: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  border-bottom: 1px solid grey;
  width: 90%;
  margin-bottom: 8px;
}

.due-date-link, .due-date-link div {
  display: inline;
}

.due-date-link .due-date {
  padding-right: 3px;
}

.underpayment-content-panel {
  background-color: #FFFFFF;
  position: absolute;
  left: 127px;
  right: 354px;
  top: 0;
  z-index: 0;
}

.payment-content-panel {
  position: absolute;
  right: 10px;
  top: 0;
  width: 334px;
}

.underpayment-tab-details {
  height: 120px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
}

.underpayment-tab-payment {
  height: 100px;
  padding-left: 0px;
  border-left: 1px solid #DADADA;
  border-right: 1px solid #DADADA;
  float: left;
  width: 100%;
  background-color: #FFFFFF;
}

.underpayment-tab-payment h3 {
  padding-left: 28px;
  padding-top: 3px;

}

.underpayment-tab-payment .underline {
  border-bottom: 1px solid grey;
  width: 80%;
  height: 10px;
}

h3.payment-title {
  background: url(../../Images/icon_payments.png) no-repeat top left white;
  padding-left: 25px;
  height: 20px;
  border-bottom: 1px solid #DADADA;
  width: 83%;
}

.underpayment-tab-details div.watermark {
  color: gainsboro;
  font-size: 450%;
  z-index: -2;
  position: absolute;
  top: 15px;
  left: 97px;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  background-color: #ffffff;
  line-height: 1em;
  text-align: center;
  width: 310px;
}

/*__________________ high contrast styling _____________________*/

.high-contrast .underpayment-tab-details {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}

.high-contrast .underpayment-tab-payment {
  border-left: 1px solid #575757;
  border-right: 1px solid #575757;
}


.high-contrast .underpayment-details .underpayment-type {
  color: #a22d0b;
}

.high-contrast h3.payment-title {
  background: url(../../Images/highcontrast/icon_payments.png) no-repeat top left white;
  border-bottom: 1px solid #575757;
}

/*______________________________________________________________________________
 * end underpayment.css
 */

