/*______________________________________________________________________________
 * underpayment_rtl.css
 *
 * Create styles that are applied to the HTML for the underpayment context details.
 */

.rtl .underpayment-details {
  float: right;
  padding-left: 0;
  padding-right: 15px;
}

.rtl .payment-details-table table {
  float: right;
}

.rtl .payment-details-table table th {
  padding-left: 0;
  padding-right: 5px;
}

.rtl .payment-details-table table td {
  padding-left: 0 !important;
  padding-right: 60px !important;
}

.rtl .underpay-details-table table td {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .underpayment-details .payment-icon {
  float: right;
  margin-right: 0;
  margin-left: -22px;
}

.rtl .payment-details-table table caption {
  padding-left: 0;
  padding-right: 30px;
}

.rtl .due-date-link .due-date {
  padding-right: 0;
  padding-left: 3px;
}

.rtl .underpayment-content-panel {
  left: 354px;
  right: 127px;
}

.rtl .payment-content-panel {
  right: auto;
  left: 10px;
}

.rtl .underpayment-tab-details {
  padding-right: 0px;
  float: right;
}

.rtl .underpayment-tab-payment {
  padding-right: 0px;
  float: right;
}

.rtl .underpayment-tab-payment h3 {
  padding-left: 0;
  padding-right: 28px;

}

.rtl h3.payment-title {
  background-position: right top;
  padding-left: 0;
  padding-right: 25px;
}

.rtl .underpayment-tab-details div.watermark {
  left: auto;
  right: 97px;
}

/*______________________________________________________________________________
 * end underpayment_rtl.css
 */

